
/**** FILTERS ****/
.gl-filters {
  margin: 0 auto;
  position: relative;
  margin-top: -50px;
  width: 100%;
  z-index: 99;
  float: left;
}

.gl-filters2 {
  margin: 0 auto;
  position: relative;
  width: 100%;
  z-index: 99;
  float: left;
}

.dt-filters-inner {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.dt-filters-custom {
  float: left;
  width: 45%;
  position: relative;
}

.filter-button {
  background: #0aa8ca none repeat scroll 0 0;
  border-radius: 2px;
  color: #fff;
  display: block;
  float: left;
  font-size: 15px;
  line-height: 36px;
  margin-right: 1%;
  padding: 0 12px;
  width: 49%;
}

.filter-button:hover {
    color: #fff !important;
}

.filter-button-gold {
  background: #d9ac05 none repeat scroll 0 0;
  color: #fff;
  display: block;
  float: left;
  font-size: 15px;
  line-height: 36px;
  margin-right: 1%;
  padding: 0 12px;
  width: 49%;
}

.filter-button-gold:hover {
	background: #d4a708 !important;
    color: #fff !important;
}

.filter-button.filter-button-right {
    float: right;
}

.filter-button.filter-button-full {
    width: calc(100% - 24px);
}

.filter-button.filter-button-dark {
    background: #105e84;
}

.filter-button.open {
    padding-bottom: 6px;
}

.dt-search {
  background: rgba(255,255,255,0.8) none repeat scroll 0 0;
  box-shadow: 0 0 1px #aaa;
  float: left;
  height: 36px;
  line-height: 36px;
  position: relative;
  width: 55%;
}

.dt-search-text {
  border: medium none;
  left: 6px;
  color: #333;
  line-height: 36px;
  padding: 0;
  position: absolute;
  background: none;
}



.dt-search-button:hover {
	background-color: #CC9902 !important;}

.dt-search-button {
  background: #CC9902;
  border-radius: 0px;
	border-bottom: 3px solid rgba(0,0,0,0.15);
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
  color: #fff;
  font-size: 12px;
	border-style:none;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 72px;
}

.filter-dropdown {
  background: #0aa8ca;
  clear: both;
  display: none;
  padding: 0 18px;
  position: absolute;
  top: 40px;
  width: 99%;
  z-index: 99;
  border-radius: 2px;
}

.filter-dropdown.filter-dropdown-dark {
    background: #105e84;
}

.filter-dropdown li {
    list-style: none;
}

.filter-dropdown li a {
    border-bottom: 1px solid #58c6e6;
    color: #f6f6f6;
    display: block;
    line-height: 44px;
    font-size: 14px;
    font-weight: 600;
}

.filter-dropdown.filter-dropdown-red li a {
    border-bottom-color: #15abce;
}

.filter-dropdown li a:hover {
    color: #fff;
}


.filter-dropdown-gold {
  background: #d9ac05;
  clear: both;
  display: none;
  padding: 0 18px;
  position: absolute;
  top: 40px;
  width: 99%;
  z-index: 99;
  border-radius: 2px;
}

.filter-dropdown-gold.filter-dropdown-dark {
    background: #d4a708;
}

.filter-dropdown-gold li {
    list-style: none;
}

.filter-dropdown-gold li a {
    border-bottom: 1px solid #d9ac05;
    color: #f6f6f6;
    display: block;
    line-height: 44px;
    font-size: 14px;
    font-weight: 600;
}

.filter-dropdown-gold.filter-dropdown-red li a {
    border-bottom-color: #d9ac05;
}

.filter-dropdown-gold li a:hover {
    color: #fff;
}

.icon-down-arrow {
    display: inline-block;
    background: url("img/arrow-down.png") 0 0 / 12.5px 7.5px no-repeat;
    background-size: 12.5px 7.5px;
    height: 7.5px;
    margin: 15px 0 0 0;
    width: 12.5px;
    float: right;
}

/**** EVENT CALENDAR ****/
#gl-cal {
  color: #fff;
  padding: 18px 0;
  position: relative;
}

#gl-cal > h2 {
  color: #fff;
  font-size: 17px;
  margin: 0 0 12px;
  text-align: center;
}

#gl-cal a {
  color: #fff;
}

.load-cal {
  position: absolute;
  top: 25px;
  background-size: 7.5px 12.5px;
  background-position: 0 0;
  width: 7.5px;
  height: 12.5px;
  text-indent: -9999px;
  display: block;
}

.load-cal-prev {
  background-image: url("img/arrow-left.png");   
}

.load-cal-next {
  right: 0;
  background-image: url("img/arrow-right.png");
}

table.calendar {
  width: 100%;
}

.calendar-row-head {
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
}

.calendar-day-head {
  font-size: 11px;
  font-weight: 600;
  padding: 1px 0;
  text-align: center;
  text-transform: uppercase;
}

.calendar-day a {
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
  border-radius: 3px;
  display: block;
  font-size: 18px;
  font-weight: 300;
  line-height: 33px;
  margin: 3px;
  text-align: center;
}

.calendar-day a:hover {
    background: rgba(0,0,0,.4);
}

@media all and (max-width: 991px) {
    .dt-slider {
        height: 260px !important;
    }
    
    .dt-slider .slider-caption {
        top: 45px !important;
    }
    
    .dt-filters-inner {
        width: 96%;
        padding: 0 2%;
    }
}

@media all and (max-width: 767px) {
    .gl-filters {
        margin-top: -115px;
    }
    
    .dt-filters-custom {
        width: 100%;
        margin-bottom: 12px;
    }
    
    .dt-search {
        clear: both;
        width: 100%;
    }
    
    .filter-button-right {
        margin-right: 0;
        float: right;
    }
}
