﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "JHMStandardWebpageTemplate.cshtml";
}

@section main_content{
	
	<!-- Page Title
        ============================================= -->
        <section id="page-title" class="page-title-mini">

            <div class="container clearfix">
                <ol class="breadcrumb">
                    <li><a href="index.php"><i class="icon-home2"></i></a></li>
                    <li><a href="#">About</a></li>
                    <li class="active">Contact Us</li>
                </ol>
            </div>

        </section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
        
            <div class="section noborder notopmargin nobottommargin nobottompadding">
	 
                <div class="container clearfix">
                  <!-- Post Content
                            ============================================= -->
       		
					<div class="col_one_third">
						<div class="feature-box fbox-center fbox-plain noborder">
							<div class="fbox-icon">
								<a href="#"><img src="images/contactus-us-flag.png" style="width:100%; height:100%;" alt="JHM Canada"></a>
							</div>
							<h3>United States</h3>
                            <div class="text-left leftmargin topmargin-sm">
								<div><i class="icon-phone"></i> 1-800-854-9899</div>
                            	<div><i class="icon-location"></i> P.O. Box 1400, San Antonto, Texas 78295</div>
							</div>
                            <a href="#" class="button button-3d button-large topmargin-sm">Contact Us</a>
						</div>
					</div>
					<div class="col_one_third">
						<div class="feature-box fbox-center fbox-plain noborder">
							<div class="fbox-icon">
								<a href="#"><img src="images/contactus-canada-flag.png" style="width:100%; height:100%;" alt="JHM Canada"></a>
							</div>
							<h3>Canada</h3>
                            <div class="text-left leftmargin topmargin-sm">
								<div><i class="icon-phone"></i> 1-877-454-6226</div>
                            	<div><i class="icon-location"></i> P.O. Box 9900 Toronto, Ontario M3C 2T9
</div>
							</div>
                            <a href="#" class="button button-3d button-large topmargin-sm">Contact Us</a>
						</div>
					</div>
					<div class="col_one_third col_last">
						<div class="feature-box fbox-center fbox-plain noborder">
							<div class="fbox-icon">
								<a href="#"><img src="images/contactus-uk-flag.png" style="width:100%; height:100%;" alt="JHM Canada"></a>
							</div>
							<h3>United Kingdom</h3>
                            <div class="text-left leftmargin topmargin-sm">
								<div><i class="icon-phone"></i> 44-1793-862146</div>
                            	<div><i class="icon-location"></i> P.O. Box 2959 Swindon, UK SN6 7WS</div>
							</div>
                            <a href="#" class="button button-3d button-large topmargin-sm">Contact Us</a>
						</div>
					</div>
				
				</div>
			</div>

            <div class="clear"></div>
    
    </section><!-- #content end -->
				
				
}