﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "JHMStandardWebpageTemplate.cshtml";
}

@section main_content{
	
	<section id="content">
        
	<div class="section nomargin toppadding-md nobottompadding">

				<?php
                    $current_month = date('n');
                    $current_year = date('Y');
                ?>
                <div class="gl-filters2 event-filters">
                  <div class="dt-filters-inner">
                      <div class="dt-filters-custom">
                        <a class="filter-button-gold filter-button-left closed" rel="#filter-date" href="#">Featured<span class="icon icon-down-arrow"></span></a>
                        <a class="filter-button filter-button-right filter-button-dark closed" rel="#filter-type" href="#">All Types<span class="icon icon-down-arrow"></span></a>
                        <ul id="filter-date" class="filter-dropdown-gold filter-dropdown-left">
                            <li><a href="#">This Week</a></li>
                            <div id="gl-cal">
                                <?= draw_calendar($current_month, $current_year); ?>
                            </div>
                        </ul>
                        <ul id="filter-type" class="filter-dropdown filter-dropdown-right filter-dropdown-dark">
                            <li><a href="#">All</a>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 2</a></li>
                            <li><a href="#">Link 3</a></li>
                        </ul>
                      </div>
                    <form class="dt-search">
                      <input type="text" class="dt-search-text" placeholder="Enter search terms" />
                      <input type="submit" class="dt-search-button" value="Search" />
                    </form>
                  </div>
                </div>
                
                <div class="clear"></div>

				<div class="heading-block noborder bottommargin-sm">
					<h2 class="center">Featured Events</h2>
				</div>
                <div data-animate="fadeIn" class="container clearfix border-full bottommargin toppadding-sm">
                  <!-- Post Content
                            ============================================= -->
                        <div class="team team-list clearfix">
                            <div class="team-image">
                                <img src="/images/event1.jpg" alt="Canton Junction's Every Hallelujah Concert">
                            </div>
                            <div class="team-desc">
                                <div class="col_two_third nobottommargin col_respon">
                                    <div class="team-title"><h3 class="nobottommargin name tcolorgold">Canton Junction's Every Hallelujah Concert</h3></div>
                                </div>
                                <div class="col_one_third col_last nobottommargin col_respon fright">
                                    <a href="#" class="social-icon si-small si-borderless si-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#" class="social-icon si-small si-borderless si-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon si-small si-borderless si-pinterest" data-toggle="tooltip" data-placement="top" title="Pinterst">
                                        <i class="icon-pinterest"></i>
                                        <i class="icon-pinterest"></i>
                                    </a>
                                    <a href="#" class="social-icon si-small si-borderless si-vimeo" data-toggle="tooltip" data-placement="top" title="Vimeo">
                                        <i class="icon-vimeo"></i>
                                        <i class="icon-vimeo"></i>
                                    </a>
                                    <a href="#" class="social-icon si-small si-borderless si-instagram" data-toggle="tooltip" data-placement="top" title="Instagram">
                                        <i class="icon-instagram"></i>
                                        <i class="icon-instagram"></i>
                                    </a>
                                </div>

                                <div class="line-short topmargin-xsm bottommargin-xsm"></div>
                                <div class="team-content bottommargin-xsm">
                                    <p>Canton Junction's Every Hallelujah Concert Tour with Special Guest Jason Crabb!</p>
                                    
                                </div>
                            
                                <div class="panel panel-default events-meta">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Event Overview</h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="iconlist nobottommargin">
                                            <li><i class="icon-calendar3"></i> <strong>Date:</strong> September 24, 2015</li>
                                            <li><i class="icon-time"></i> <strong>Start Time:</strong> 8:00am - End Time: 5:00pm</li>
                                            <li><i class="icon-map-marker2"></i> <strong>Location:</strong> Evangel Temple Assembly of God - 5755 Ramona Blvd., Jacksonville, FL 32205</li>
                                            <li><i class="icon-dollar"></i> <strong>Cost:</strong> FREE</li>
                                        </ul>
 										
                                    </div>
                                </div>
								<a href="/event-description.php" class="button button-3d bottommargin-sm">View Event</a>
                            </div>
                        </div>
            
                    </div>

			
					<div data-animate="fadeIn" class="container clearfix border-full bottommargin toppadding-sm">
                  <!-- Post Content
                            ============================================= -->
                        <div class="team team-list clearfix">
                            <div class="team-image">
                                <img src="/images/event2.jpg" alt="Canton Junction's Every Hallelujah Concert">
                            </div>
                            <div class="team-desc">
                                <div class="col_two_third nobottommargin col_respon">
                                    <div class="team-title"><h3 class="nobottommargin name tcolorgold">JHM At Sea</h3></div>
                                </div>
                                <div class="col_one_third col_last nobottommargin col_respon fright">
                                    <a href="#" class="social-icon si-small si-borderless si-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#" class="social-icon si-small si-borderless si-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon si-small si-borderless si-pinterest" data-toggle="tooltip" data-placement="top" title="Pinterst">
                                        <i class="icon-pinterest"></i>
                                        <i class="icon-pinterest"></i>
                                    </a>
                                    <a href="#" class="social-icon si-small si-borderless si-vimeo" data-toggle="tooltip" data-placement="top" title="Vimeo">
                                        <i class="icon-vimeo"></i>
                                        <i class="icon-vimeo"></i>
                                    </a>
                                    <a href="#" class="social-icon si-small si-borderless si-instagram" data-toggle="tooltip" data-placement="top" title="Instagram">
                                        <i class="icon-instagram"></i>
                                        <i class="icon-instagram"></i>
                                    </a>
                                </div>

                                <div class="line-short topmargin-xsm bottommargin-xsm"></div>
                                <div class="team-content bottommargin-xsm">
                                    <p>Canton Junction's Every Hallelujah Concert Tour with Special Guest Jason Crabb!</p>
                                    
                                </div>
                            
                                <div class="panel panel-default events-meta">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Event Overview</h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="iconlist nobottommargin">
                                            <li><i class="icon-calendar3"></i> <strong>Date:</strong> September 24, 2015</li>
                                            <li><i class="icon-time"></i> <strong>Start Time:</strong> 8:00am - End Time: 5:00pm</li>
                                            <li><i class="icon-map-marker2"></i> <strong>Location:</strong> Evangel Temple Assembly of God - 5755 Ramona Blvd., Jacksonville, FL 32205</li>
                                            <li><i class="icon-dollar"></i> <strong>Cost:</strong> $1,250.00</li>
                                        </ul>
 										
                                    </div>
                                </div>
								<a href="event-description.php" class="button button-3d bottommargin-sm">View Event</a>
                            </div>
                        </div>
            
                    </div>


					<div data-animate="fadeIn" class="container clearfix border-full bottommargin toppadding-sm">
                  <!-- Post Content
                            ============================================= -->
                        <div class="team team-list clearfix">
                            <div class="team-image">
                                <img src="/images/event3.jpg" alt="Canton Junction's Every Hallelujah Concert">
                            </div>
                            <div class="team-desc">
                                <div class="col_two_third nobottommargin col_respon">
                                    <div class="team-title"><h3 class="nobottommargin name tcolorgold">Feast of Tabernacles/Sukkot Celebration</h3></div>
                                </div>
                                <div class="col_one_third col_last nobottommargin col_respon fright">
                                    <a href="#" class="social-icon si-small si-borderless si-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#" class="social-icon si-small si-borderless si-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon si-small si-borderless si-pinterest" data-toggle="tooltip" data-placement="top" title="Pinterst">
                                        <i class="icon-pinterest"></i>
                                        <i class="icon-pinterest"></i>
                                    </a>
                                    <a href="#" class="social-icon si-small si-borderless si-vimeo" data-toggle="tooltip" data-placement="top" title="Vimeo">
                                        <i class="icon-vimeo"></i>
                                        <i class="icon-vimeo"></i>
                                    </a>
                                    <a href="#" class="social-icon si-small si-borderless si-instagram" data-toggle="tooltip" data-placement="top" title="Instagram">
                                        <i class="icon-instagram"></i>
                                        <i class="icon-instagram"></i>
                                    </a>
                                </div>

                                <div class="line-short topmargin-xsm bottommargin-xsm"></div>
                                <div class="team-content bottommargin-xsm">
                                    <p>Canton Junction's Every Hallelujah Concert Tour with Special Guest Jason Crabb!</p>
                                    
                                </div>
                            
                                <div class="panel panel-default events-meta">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Event Overview</h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="iconlist nobottommargin">
                                            <li><i class="icon-calendar3"></i> <strong>Date:</strong> September 24, 2015</li>
                                            <li><i class="icon-time"></i> <strong>Start Time:</strong> 8:00am - End Time: 5:00pm</li>
                                            <li><i class="icon-map-marker2"></i> <strong>Location:</strong> Evangel Temple Assembly of God - 5755 Ramona Blvd., Jacksonville, FL 32205</li>
                                            <li><i class="icon-dollar"></i> <strong>Cost:</strong> FREE</li>
                                        </ul>
 										
                                    </div>
                                </div>
								<a href="/event-description.php" class="button button-3d bottommargin-sm">View Event</a>
                            </div>
                        </div>
            
                    </div>


					<div data-animate="fadeIn" class="container clearfix border-full bottommargin toppadding-sm">
                  <!-- Post Content
                            ============================================= -->
                        <div class="team team-list clearfix">
                            <div class="team-image">
                                <img src="/images/event4.jpg" alt="Canton Junction's Every Hallelujah Concert">
                            </div>
                            <div class="team-desc">
                                <div class="col_two_third nobottommargin col_respon">
                                    <div class="team-title"><h3 class="nobottommargin name tcolorgold">Canton Junction's Every Hallelujah Concert</h3></div>
                                </div>
                                <div class="col_one_third col_last nobottommargin col_respon fright">
                                    <a href="#" class="social-icon si-small si-borderless si-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#" class="social-icon si-small si-borderless si-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon si-small si-borderless si-pinterest" data-toggle="tooltip" data-placement="top" title="Pinterst">
                                        <i class="icon-pinterest"></i>
                                        <i class="icon-pinterest"></i>
                                    </a>
                                    <a href="#" class="social-icon si-small si-borderless si-vimeo" data-toggle="tooltip" data-placement="top" title="Vimeo">
                                        <i class="icon-vimeo"></i>
                                        <i class="icon-vimeo"></i>
                                    </a>
                                    <a href="#" class="social-icon si-small si-borderless si-instagram" data-toggle="tooltip" data-placement="top" title="Instagram">
                                        <i class="icon-instagram"></i>
                                        <i class="icon-instagram"></i>
                                    </a>
                                </div>

                                <div class="line-short topmargin-xsm bottommargin-xsm"></div>
                                <div class="team-content bottommargin-xsm">
                                    <p>Canton Junction's Every Hallelujah Concert Tour with Special Guest Jason Crabb!</p>
                                    
                                </div>
                            
                                <div class="panel panel-default events-meta">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Event Overview</h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="iconlist nobottommargin">
                                            <li><i class="icon-calendar3"></i> <strong>Date:</strong> September 24, 2015</li>
                                            <li><i class="icon-time"></i> <strong>Start Time:</strong> 8:00am - End Time: 5:00pm</li>
                                            <li><i class="icon-map-marker2"></i> <strong>Location:</strong> Evangel Temple Assembly of God - 5755 Ramona Blvd., Jacksonville, FL 32205</li>
                                            <li><i class="icon-dollar"></i> <strong>Cost:</strong> $20.00</li>
                                        </ul>
 										
                                    </div>
                                </div>
								<a href="/event-description.php" class="button button-3d bottommargin-sm">View Event</a>
                            </div>
                        </div>
            
                    </div>



				</div>
	
				    </section><!-- #content end -->
			<div class="clear"></div>
				
				
}