﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<!-- Head
	============================================= -->
<head>

		<!-- External code
			============================================= -->
	@Umbraco.RenderMacro("externalCode")


    <!-- Document Title
    ============================================= -->
	<title>John Hagee Ministries</title>

</head>

<body class="stretched side-panel">

    <div class="body-overlay"></div>

	
 		<!-- Side Menu
			============================================= -->
		@Umbraco.RenderMacro("sideMenu")

	

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

<!-- Top Bar 
        ============================================= -->
        <div id="top-bar" class="hidden-xs">

            <div class="container-fluid clearfix">


                <div class="col_half nomargin fright">

                    <!-- Top Links 
                    ============================================= -->
                    



					<div class="top-links">
                        <ul>
                            <li><a href="#"> <i class="icon-line2-user"></i>Login</a>
                                <div class="top-link-section">
                                    <form id="top-login" role="form">
                                        <div class="input-group" id="top-login-username">
                                            <span class="input-group-addon"><i class="icon-mail"></i></span>
                                            <input type="email" class="form-control" placeholder="Email address" required="">
                                        </div>
                                        <div class="input-group" id="top-login-password">
                                            <span class="input-group-addon"><i class="icon-key"></i></span>
                                            <input type="password" class="form-control" placeholder="Password" required="">
                                        </div>
                                        <label class="checkbox">
                                          <input type="checkbox" value="remember-me"> Remember me
                                        </label>
                                        <button class="btn btn-danger btn-block" type="submit">Sign in</button>
                                    </form>
                                </div>
                            </li>
							<li><a href="#"><i class="icon-key"></i> Register</a>
								<div class="top-link-section">
                                    <form id="top-register" role="form">
                                        <div class="input-group" id="top-register-name">
                                            <span class="input-group-addon"><i class="icon-line2-user"></i></span>
                                            <input type="name" class="form-control" placeholder="Name" required="">
                                        </div>
										<div class="input-group" id="top-register-username">
                                            <span class="input-group-addon"><i class="icon-mail"></i></span>
                                            <input type="email" class="form-control" placeholder="Email address" required="">
                                        </div>
                                        <div class="input-group" id="top-register-password">
                                            <span class="input-group-addon"><i class="icon-key"></i></span>
                                            <input type="password" class="form-control" placeholder="Password" required="">
                                        </div>
                                        <button class="btn btn-danger btn-block" type="submit">Register</button>
                                    </form>
                                </div>
							</li>
                        </ul>
                    </div> <!--.top-links end -->

                </div>

                <!-- <div class="col_half fright col_last nobottommargin">

                    <!-- Top Social
                    ============================================= 
                    <div id="top-social">
                        <ul>
                            <li><a href="#" class="si-play"><span class="ts-icon"><i class="icon-play"></i></span><span class="ts-text">GETV</span></a></li>
                            <li><a href="#" class="si-sun"><span class="ts-icon"><i class="icon-sun"></i></span><span class="ts-text">Cornerstone Church</span></a></li>
                            <li><a href="#" class="si-facetime-video"><span class="ts-icon"><i class="icon-facetime-video"></i></span><span class="ts-text">Difference Media</span></a></li>
                            <li><a href="#" class="si-pencil2"><span class="ts-icon"><i class="icon-pencil2"></i></span><span class="ts-text">Cornerstone School</span></a></li>
                            <li><a href="#" class="si-facebook"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>
                            <li><a href="#" class="si-twitter2"><span class="ts-icon"><i class="icon-twitter2"></i></span><span class="ts-text">Twitter</span></a></li>
                            <li><a href="#" class="si-youtube"><span class="ts-icon"><i class="icon-youtube"></i></span><span class="ts-text">Youtube</span></a></li>
                            <li><a href="#" class="si-instagram"><span class="ts-icon"><i class="icon-instagram2"></i></span><span class="ts-text">Instagram</span></a></li>
                            <li><a href="#" class="si-pinterest"><span class="ts-icon"><i class="icon-pinterest2"></i></span><span class="ts-text">Pinterest</span></a></li>
                            <li><a href="#" class="si-gplus"><span class="ts-icon"><i class="icon-gplus"></i></span><span class="ts-text">Google Plus</span></a></li>
                            <li><a href="tel:1-800-854-9899" class="si-call"><span class="ts-icon"><i class="icon-call"></i></span><span class="ts-text"> 1-800-854-9899</span></a></li>
                            <li><a href="mailto:support@jhm.org" class="si-email3"><span class="ts-icon"><i class="icon-email3"></i></span><span class="ts-text">support@jhm.org</span></a></li>
                        </ul>
                    </div><!-- #top-social end  

                </div> -->

            </div>

        </div> <!-- #top-bar end --> 
        
        <!-- Header
		============================================= -->
        @Umbraco.RenderMacro("header")
       
       <!-- Slider
		============================================= -->
        @Umbraco.RenderMacro("slider")


		<!-- Content
		============================================= -->
		<section id="content">
        
            
			<!-- JHM Mission
            ============================================= -->
            @Umbraco.RenderMacro("jhmMission")

            <div class="clear"></div>

 			
			<!-- GETV
            ============================================= -->
            @Umbraco.RenderMacro("getv")

            <div class="clear"></div>

            
			<div class="container-fluid clearfix nobottommargin topmargin-sm">
                <div class="row clearfix common-height">
                   
                    <div class="col_one_third bottommargin-sm" style="border-right: 1px solid #e2e2e2;">
                         <a href="#"><div class="feature-box fbox-large fbox-plain">
                            <div class="fbox-icon">
                                <i class="icon-plus"></i>
                            </div>
                            
                            <div class="heading-block nobottommargin nobottomborder">
                                <h2>Salvation Message</h2>
                                <p class="lead">How can I be saved? How can I be saved?</p>
                            </div>
                        </div></a>
                    </div>

                   <div class="col_one_third bottommargin-sm" style="border-right: 1px solid #e2e2e2;">
                         <a href="#"><div class="feature-box fbox-large fbox-plain">
                            <div class="fbox-icon">
                                <i class="icon-sun2"></i>
                            </div>
                            
                            <div class="heading-block nobottommargin nobottomborder">
                                <h2>The Coming</h2>
                                <p class="lead">Four Blood Moons 3 Part Series</p>
                            </div>
                        </div></a>
                    </div>

                   <div class="col_one_third col_last bottommargin-sm">
                         <a href="#"><div class="feature-box fbox-large fbox-plain">
                            <div class="fbox-icon">
                                <i class="icon-plus"></i>
                            </div>
                            
                            <div class="heading-block nobottommargin nobottomborder">
                                <h2>Salvation Message</h2>
                                <p class="lead">How can I be saved? How can I be saved?</p>
                            </div>
                        </div></a>
                    </div>
                </div>
            </div>

            <div class="clear"></div>
                
            <!-- JHM Shop
            ============================================= -->
            @Umbraco.RenderMacro("jhmShop")

            <div class="clear"></div>
            

            <!-- Daily Truth
            ============================================= -->
            @Umbraco.RenderMacro("dailytruth")

            <div class="clear"></div>
            
			
			<!-- Pastor John Hagee
            ============================================= -->
            @Umbraco.RenderMacro("pastorJohnHagee")
            
            <div class="clear"></div>
      
            
			<!-- JHM Events
            ============================================= -->
            @Umbraco.RenderMacro("events")

			<div class="clear"></div>

             
			<!-- Prayer Requests
            ============================================= -->
            @Umbraco.RenderMacro("prayerRequests")

			<div class="clear"></div>

            
			<!-- JHM Connect
            ============================================= -->
           @Umbraco.RenderMacro("jhmConnect")

			<div class="clear"></div>
    
    </section><!-- #content end -->

    <!-- Footer
    ============================================= -->
    
            <!-- Footer
            ============================================= -->
            @Umbraco.RenderMacro("footer")
            
	</div>
	
</div>
	<!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="/js/functions.js"></script>


</body>
</html>