﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "JHMStandardWebpageTemplate.cshtml";
}


@section main_content{
	
	<!-- Page Header
		============================================= -->
        @Umbraco.RenderMacro("pageheaderMediainquiries")


		<!-- Page Title
        ============================================= -->
        <section id="page-title" class="page-title-mini">

            <div class="container clearfix">
                <ol class="breadcrumb">
                    <li><a href="/"><i class="icon-home2"></i></a></li>
                    <li><a href="#">About</a></li>
                    <li class="active">Media Inquiries</li>
                </ol>
            </div>

        </section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
        
           <div class="content-wrap noborder topmargin nobottommargin nopadding">

				<div data-animate="fadeIn" class="container bottommargin clearfix">

                    <div><h2 class="tcolorgold jobs">John Hagee Ministries Media Inquiries Contact</h2></div>

                    <div class="fancy-title title-bottom-border">
                        <h3>Public Relations</h3>
                    </div>
					<p class="bottommargin-xsm">For all PR/Media Inquiries, please contact:</p>
                    <div class="text-left leftmargin-xsm bottommargin-xsm">
                        <div><i class="icon-phone"></i> 210-494-3900</div>
                        <div><i class="icon-mail"></i> <a href="mailto:media@jhm.org">media@jhm.org</a></div>
                    </div>
					<p>Or, complete the form below and a JHM representative will be in contact with you within 24 hours.</p>
					
					<div class="line bottommargin-sm topmargin-xsm"></div>
					
					<!-- Inquiry Form
					============================================= -->
					<div class="nobottommargin">

						<h3 class="title">About You <span><span>*Denotes required fields</span></span></h3>


						<div id="contact-form-result" data-notify-type="success" data-notify-msg="<i class=icon-ok-sign></i> Message Sent Successfully!"></div>

						<form class="nobottommargin" id="template-contactform" name="template-contactform" action="include/sendemail.php" method="post">

							<div class="form-process"></div>

							<div class="col_one_third">
								<label for="template-contactform-name">Full Name <small>*</small></label>
								<input type="text" id="template-contactform-name" name="template-contactform-name" value="" class="sm-form-control required" />
							</div>

							<div class="col_one_third">
								<label for="template-contactform-email">Email <small>*</small></label>
								<input type="email" id="template-contactform-email" name="template-contactform-email" value="" class="required email sm-form-control" />
							</div>

							<div class="col_one_third col_last">
								<label for="template-contactform-phone">Phone <small>*</small></label>
								<input type="text" id="template-contactform-phone" name="template-contactform-phone" value="" class="required sm-form-control" />
							</div>

							<div class="clear"></div>

							<div class="col_two_third">
								<label for="template-contactform-company">Company <small>*</small></label>
								<input type="text" id="template-contactform-company" name="template-contactform-company" value="" class="required sm-form-control" />
							</div>

							<div class="col_one_third col_last">
								<label for="template-contactform-service">Who are you? <small>*</small></label>
								<select id="template-contactform-service" name="template-contactform-service" class="sm-form-control required">
									<option value="">-- Select One --</option>
									<option value="Selection here">Education/School</option>
									<option value="Selection here">Government/Municipality</option>
									<option value="Selection here">Publisher</option>
									<option value="Selection here">Media Source</option>
									<option value="Selection here">Student</option>
									<option value="Selection here">Ministry</option>
									<option value="Selection here">Other</option>
								</select>

							</div>

							<div class="clear"></div>

							<div class="col_two_third">
								<label for="template-contactform-website">Website <small>*</small></label>
								<input type="text" id="template-contactform-website" name="template-contactform-website" value="" class="required sm-form-control" />
							</div>

							<div class="col_one_third col_last">
								<label for="template-contactform-service">Country <small>*</small></label>
								<select id="template-contactform-service" name="template-contactform-service" class="sm-form-control required">
									<option value="">-- Select One --</option>
									<option value="Country here">Country here</option>
									<option value="Country here">Country here</option>
									<option value="Country here">Country here</option>
									<option value="Country here">Country here</option>
								</select>
							</div>

							<div class="clear"></div>

							<div class="col_full">
								<label for="template-contactform-message">Your Inquiry <small>*</small></label>
								<textarea class="required sm-form-control" id="template-contactform-message" name="template-contactform-message" rows="6" cols="30"></textarea>
							</div>

							<p>JHM respects your privacy. View our <a href="#">Privacy Policy</a>.</p>
							
							<div class="col_full hidden">
								<input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
							</div>

							<div class="col_full">
								<button class="button button-3d nomargin" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Submit Form</button>
							</div>

						</form>

						<script type="text/javascript">

							$("#template-contactform").validate({
								submitHandler: function(form) {
									$('.form-process').fadeIn();
									$(form).ajaxSubmit({
										target: '#contact-form-result',
										success: function() {
											$('.form-process').fadeOut();
											$(form).find('.sm-form-control').val('');
											$('#contact-form-result').attr('data-notify-msg', $('#contact-form-result').html()).html('');
											SEMICOLON.widget.notifications($('#contact-form-result'));
										}
									});
								}
							});

						</script>

					</div><!-- .inquiry form end -->

					

				</div>

			</div>

            <div class="clear"></div>
    
    </section><!-- #content end -->

				
				
				
}