﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "JHMStandardWebpageTemplate.cshtml";
}


@section main_content{
	
	
		<!-- Page Title
        ============================================= -->
        <section id="page-title" class="page-title-mini">

            <div class="container clearfix">
                <ol class="breadcrumb">
                    <li><a href="index.php"><i class="icon-home2"></i></a></li>
                    <li class="active">JHM Privacy Policy & Terms of Use</li>
                </ol>
            </div>

        </section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
        
            <div class="content-wrap noborder topmargin nobottommargin nopadding">
	 
                <div data-animate="fadeIn" class="container bottommargin clearfix">

                    <div class="fancy-title title-bottom-border">
                        <h3>JHM Privacy Policy & Terms of Use</h3>
                    </div>

                    <p><strong>JOHN HAGEE MINISTRIES</strong> is committed to maintaining your trust and confidence. The following online privacy policy is intended to protect and secure the personally identifiable information (any information by which you can be identified) you provide to us online. </p>
					<p><strong>In addition, JOHN HAGEE MINISTRIES</strong> will not send you e-mail that you have not agreed to receive. We may periodically send you e-mail announcing news and event information. If you choose to supply your postal address in an online form, you may receive mailings from us as well. 

					<div class="line notopmargin bottommargin-sm"></div>

					<h4 class="tcolorgold heading">No Sharing of Personal Information</h4>
					<p><strong>JOHN HAGEE MINISTRIES</strong> never sells, rents, leases or exchanges your personal information with other organizations. JOHN HAGEE MINISTRIES assures you that the identity of all who contact us through this Web site will be kept confidential. JOHN HAGEE MINISTRIES may occasionally send mailings on behalf of other organizations or ministries when their interests align with JOHN HAGEE MINISTRIES.</p>

					<div class="line notopmargin bottommargin-sm"></div>

                    <h4 class="tcolorgold heading">Security</h4>
                    <p><strong>JOHN HAGEE MINISTRIES</strong> is committed to ensuring the security of your personal information. To prevent unauthorized access, maintain data accuracy, and ensure the proper use of information, we have established and implemented appropriate physical, electronic and managerial procedures to safeguard and secure the information we collect online. JOHN HAGEE MINISTRIES uses Internet Encryption Software, Secure Socket Layer (SSL) Protocol when collecting or transferring sensitive data such as credit card information. Any information you enter is encrypted at your browser, sent over the public Internet in encrypted form, and then de-encrypted at our server. Once we receive your credit card information, it is accessible only to a small number of trusted JOHN HAGEE MINISTRIES employees who have been specially trained in processing this information.</p>

					<div class="line notopmargin bottommargin-sm"></div>
 
                    <h4 class="tcolorgold heading">Cookies</h4>
                    <p><strong>From time to time, we may send a "cookie" to your computer.</strong> A cookie is a small piece of data that is sent to your browser from a Web server and stored on your computer's hard drive. A cookie can't read data off your hard drive or read cookie files created by other sites. Cookies do not damage your system. We use cookies to recognize you when you return to our sites, or to identify which areas of our network of websites you have visited (i.e. e-commerce sites, etc.). We may use this information to better personalize the content you see on our sites.</p>
                    <p>Many websites place cookies on your hard drive. You can choose whether to accept cookies by changing the settings of your browser. Your browser can refuse all cookies, or show you when a cookie is being sent. If you choose not to accept these cookies, your experience at our site and other websites may be diminished and some features may not work as intended. </p>

					<div class="line notopmargin bottommargin-sm"></div>

                    <h4 class="tcolorgold heading">Children's Online Privacy</h4> 
                    <p><strong>We are concerned about the privacy of young children</strong> and do not knowingly collect any personal information from a child under 13. We encourage you to become involved with your child's access to the Internet and to our site in order to ensure that his or her privacy is well protected. </p>
                    <p>To read more about online safety and how to become more involved with your child's online experience, visit the <a href="https://www.ftc.gov/" target="_blank">Federal Trade Commission Website.</a> You may also benefit from the information and resources available on <a href="http://protectkids.com/" target="_blank">ProtectKids.com.</a> </p>

					<div class="line notopmargin bottommargin-sm"></div>

                    <h4 class="tcolorgold heading">Shipping Policy</h4>
                    <p><strong>Most orders are shipped within 3 business days.</strong> All orders are shipped via USPS, DHL, FedEx, UPS or comparable carrier. Processing time of your order can vary from 3-14 days depending on product availability, or in some cases up to 4-6 weeks. Orders shipped by ground service average 4-10 business days from date of order to reach its destination. Orders shipped by priority service (Priority Shipping) average 3-7 business days from date of order to reach its destination. Additional charges may apply depending on weight. We will notify you of any additional charges before shipping. When calculating actual ship date, please do not count Saturdays, Sundays or Federal Holidays. DHL will not ship to P.O. Boxes. Please include a complete street address for all orders. If ordering internationally, any taxes, customs, or related fees will be your responsibility at the time of receipt.</p>

					<div class="line notopmargin bottommargin-sm"></div>

                    <h4 class="tcolorgold heading">Billing Policy</h4>
                    <p><strong>We accept Visa, MasterCard, Discover, and American Express.</strong> All online orders are processed through 128 bit SSL encryption to protect your credit card information during your online transaction. All prices and figures are listed in US Dollars. </p>

					<div class="line notopmargin bottommargin-sm"></div>

                    <h4 class="tcolorgold heading">JHM Return & Exchange Policy</h4>
                    <p>We want you to be completely satisfied with your purchase.</p>
					<ul class="iconlist">
                        <li><i class="icon-line-circle-check"></i> You may exchange any unused products (if products are shrink-wrapped, such products must remain unopened) for other products of equal or greater value within 15 days of receipt at customer’s expense. JHM does not offer store credit. </li>
                         <li><i class="icon-line-circle-check"></i> Any damaged, defective, or incorrect shipment of JHM products may be exchanged for the same product within 30 days of ship date. </li>
                         <li><i class="icon-line-circle-check"></i> Damaged and/or defective items must be sent back to the Ministry in order to process an exchange. </li>
                         <li><i class="icon-line-circle-check"></i> The Ministry is not responsible for products returned for exchange that become lost in the mail. </li>
                         <li><i class="icon-line-circle-check"></i> Prior to submitting any products for exchange, a Return Merchandise Authorization (RMA) number is required. To obtain your RMA number, please call Customer Service at (800) 600-9743, Monday- Friday, 8:30-5:00 CST. Products received without an RMA number will be considered a donation to the Ministry Missions Outreach.  </li>
                         <li><i class="icon-line-circle-check"></i> Downloads are non-refundable. </li>
                         <li><i class="icon-line-circle-check"></i> Other than the exceptions set forth above, there are no returns and all sales are final. If you have questions regarding our return policy - please call Customer Service at (800) 600-9743. 
                         </li>
                    </ul>

					<div class="line notopmargin bottommargin-sm"></div>

                    <h4 class="tcolorgold heading">Account Policy</h4>
                    <p><strong>JOHN HAGEE MINISTRIES</strong> reserves the right to de-activate or remove any user accounts provided at www.jhm.org without a notice if user has provided wrong information, has violated common Internet policies or if the account has been inactive for more than 60 days. </p>

					<div class="line notopmargin bottommargin-sm"></div>

					<h4 class="tcolorgold heading">Download License</h4>
                    <p><strong>Downloads are solely for personal, noncommercial use.</strong> Copies of downloads can only be stored on computers or devices owned by the person or entity who purchased the download. Additional licenses of downloads can be purchased from <a href="http://www.jhm.org/">jhm.org.</a>  </p>

					<div class="line notopmargin bottommargin-sm"></div>

					<h4 class="tcolorgold heading">Wholesale</h4>
                    <p><strong>Thank you for your interest in our products!</strong> Please review our <a href="wholesale-policy.php">Wholesale Policy</a> for more information.</p>

					<div class="line notopmargin bottommargin-sm"></div>

					<h4 class="tcolorgold heading">Contacting JHM</h4>
                    <p>If you have comments or questions about any of our policies or our website, please contact us. For information about your payment or order, please contact us at 1-800-854-9899 during office hours (8:30am - 5pm CST). </p>

				</div>
 
				<div class="clear"></div>

				<div class="container clearfix">
                  <!-- Post Content
                            ============================================= -->
       		
					<div class="col_one_third">
						<div class="feature-box fbox-center fbox-plain noborder">
							<div class="fbox-icon">
								<a href="#"><img src="images/contactus-us-flag.png" style="width:100%; height:100%;" alt="JHM Canada"></a>
							</div>
							<h3>United States</h3>
                            <div class="text-left leftmargin topmargin-sm">
								<div><i class="icon-phone"></i> 1-800-854-9899</div>
                            	<div><i class="icon-location"></i> P.O. Box 1400, San Antonto, Texas 78295</div>
							</div>
                            <a href="#" class="button button-3d button-large topmargin-sm">Contact Us</a>
						</div>
					</div>
					<div class="col_one_third">
						<div class="feature-box fbox-center fbox-plain noborder">
							<div class="fbox-icon">
								<a href="#"><img src="images/contactus-canada-flag.png" style="width:100%; height:100%;" alt="JHM Canada"></a>
							</div>
							<h3>Canada</h3>
                            <div class="text-left leftmargin topmargin-sm">
								<div><i class="icon-phone"></i> 1-877-454-6226</div>
                            	<div><i class="icon-location"></i> P.O. Box 9900 Toronto, Ontario M3C 2T9
</div>
							</div>
                            <a href="#" class="button button-3d button-large topmargin-sm">Contact Us</a>
						</div>
					</div>
					<div class="col_one_third col_last">
						<div class="feature-box fbox-center fbox-plain noborder">
							<div class="fbox-icon">
								<a href="#"><img src="images/contactus-uk-flag.png" style="width:100%; height:100%;" alt="JHM Canada"></a>
							</div>
							<h3>United Kingdom</h3>
                            <div class="text-left leftmargin topmargin-sm">
								<div><i class="icon-phone"></i> 44-1793-862146</div>
                            	<div><i class="icon-location"></i> P.O. Box 2959 Swindon, UK SN6 7WS</div>
							</div>
                            <a href="#" class="button button-3d button-large topmargin-sm">Contact Us</a>
						</div>
					</div>
				
				</div>


			</div>

            <div class="clear"></div>
    
    </section><!-- #content end -->
				
}