﻿<div class="umb-editor umb-radiobuttons" ng-controller="ListPicker.EditorController">
    <ul class="unstyled">
        <li ng-repeat="item in model.config.values.items">
            <label class="radio">
                <input type="radio" name="radiobuttonlist-{{model.alias}}"
                       value="{{item.value}}"
                       ng-model="model.value" />
                {{item.text}}
            </label>
        </li>
    </ul>
</div>