*{
	margin:0;
	padding:0;
	border:0;
	outline:none;
}

a{ 
	text-decoration: none; 
}

body {
	background-color:#333;
}





#componentWrapper{
	position:absolute;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	background:#000;
	overflow:hidden;
}

#componentWrapper .mediaWrapper{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	overflow:hidden;
}	

#componentWrapper .mediaWrapper_v{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
}	

#componentWrapper .youtubeHolder, #componentWrapper .vimeoHolder{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	display:none;
}	






#componentWrapper .mediaPreloader{
	position:absolute;
	top:50%;
	left:50%;
	margin:-25px 0px 0px -25px;
	background:#000 url('../data/loader.gif') no-repeat center center;
	width:50px;
	height:50px;
	z-index:999;
	opacity:0.7;
}





