﻿@model Custom.Models.ContactFormModel
@{
    Layout = null;
}
@using (Html.BeginUmbracoForm<Custom.Controllers.ContactFormSurfaceController>("PostContactForm", "ContactFormSurfaceController",
    new { @class = "contact-page-form nobottommargin", @id = "template-contactform" }, FormMethod.Post))
{

    IEnumerable<System.Web.UI.WebControls.ListItem> CountryOptions = new List<System.Web.UI.WebControls.ListItem> {
           new System.Web.UI.WebControls.ListItem {
            Text = "-- Select One --",
            Value = ""
        },
        new System.Web.UI.WebControls.ListItem {
            Text = "United States",
            Value = "US"
        },
        new System.Web.UI.WebControls.ListItem {
            Text = "Canada",
            Value = "CA"
        },
        new System.Web.UI.WebControls.ListItem {
            Text = "United Kingdom",
            Value = "UK"
        }
       };

    <div class="form-process"></div>

    <div class="col_one_third">
        <label for="template-contactform-name">Full Name <small>*</small></label>
        @Html.TextBoxFor(x => Model.FullName, new { @class = "sm-form-control required", @id = "template-contactform-name" })
    </div>

    <div class="col_one_third">
        <label for="template-contactform-email">Email <small>*</small></label>
        @Html.TextBoxFor(x => Model.Email, new { @class = "required email sm-form-control", @id = "template-contactform-email" })
    </div>

    <div class="col_one_third col_last">
        <label for="template-contactform-service">Country <small>*</small></label>
        @Html.DropDownListFor(x => Model.Country, new SelectList(CountryOptions, "Value", "Text"), new { @class = "sm-form-control required", @id = "template-contactform-service" })
    </div>

    <div class="clear"></div>

    <div class="col_full">
        <label for="template-contactform-message">Your Message <small>*</small></label>
        @Html.TextAreaFor(x => Model.Message, new { @class = "required sm-form-control bottommargin-sm", @id = "template-contactform-message" })
        @Html.CheckBoxFor(x => Model.SubscribeToNewsletter, new { @class = "checkbox-inline", @id = "template-contactform-name" })
        <label for="template-contactform-checkbox">Select if you like to be included in our Email Newsletter. </label>
    </div>

    <div class="col_full hidden">
        <input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
    </div>

    <div class="col_full">
        <button class="button button-3d nomargin" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Send Your Message</button>
    </div>
    <p>JHM respects your privacy. View our <a href="/privacy-termsofuse">Privacy Policy</a>.</p>

}