﻿@model Custom.Models.PrayerRequestFormModel
@{
    Layout = null;
}
@using (Html.BeginUmbracoForm<Custom.Controllers.EmailSubscriptionsFormSurfaceController>("PostEmailSubscriptions", "EmailSubscriptionsFormSurfaceController",
    new { @class = "contact-page-form nobottommargin", @id = "template-contactform" }, FormMethod.Post))
{

    <div class="form-process"></div>

    <div class="col_one_third topmargin-xsm">

        <div class="fright">
            <ul class="list-unstyled">
                <li><input type="checkbox" id="template-contactform-name" name="template-contactform-name" value="" class="checkbox-inline" /> <label for="template-contactform-name">A Moment with Matt </label></li>

                <li><input type="checkbox" id="template-contactform-name" name="template-contactform-name" value="" class="checkbox-inline" /> <label for="template-contactform-name">Daily Blessings and Readings </label></li>

                <li><input type="checkbox" id="template-contactform-name" name="template-contactform-name" value="" class="checkbox-inline" /> <label for="template-contactform-name">Event Notifications </label></li>

                <li><input type="checkbox" id="template-contactform-name" name="template-contactform-name" value="" class="checkbox-inline" /> <label for="template-contactform-name">Weekly Update </label></li>
            </ul>
        </div>
    </div>

    <div class="col_two_third col_last">
        <label for="template-contactform-name">Full Name <small>*</small></label>
        @Html.TextBoxFor(x => Model.FullName, new { @class = "sm-form-control required", @id = "template-contactform-name" })
        <div class="topmargin-xsm">
            <label for="template-contactform-email">Email <small>*</small></label>
            @Html.TextBoxFor(x => Model.Email, new { @class = "required email sm-form-control", @id = "template-contactform-email" })
        </div>
        <button class="button button-3d topmargin-sm" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Subscribe</button>
    </div>


    <div class="clear"></div>


}