﻿@model Custom.Models.MediaInquiryFormModel
    @{
        Layout = null;
    }
    @using (Html.BeginUmbracoForm<Custom.Controllers.MediaInquiryFormSurfaceController>("PostMediaInquiry", "MediaInquiryFormSurfaceController",
    new { @class = "contact-page-form nobottommargin", @id = "template-contactform" }, FormMethod.Post))
    {

        IEnumerable<System.Web.UI.WebControls.ListItem> CountryOptions = new List<System.Web.UI.WebControls.ListItem> {
           new System.Web.UI.WebControls.ListItem {
            Text = "-- Select One --",
            Value = ""
        },
        new System.Web.UI.WebControls.ListItem {
            Text = "United States",
            Value = "US"
        },
        new System.Web.UI.WebControls.ListItem {
            Text = "Canada",
            Value = "CA"
        },
        new System.Web.UI.WebControls.ListItem {
            Text = "United Kingdom",
            Value = "UK"
        }
       };

        IEnumerable<System.Web.UI.WebControls.ListItem> WhoAreYouOptions = new List<System.Web.UI.WebControls.ListItem> {
           new System.Web.UI.WebControls.ListItem {
            Text = "-- Select One --",
            Value = ""
        },
        new System.Web.UI.WebControls.ListItem {
            Text = "Education/School",
            Value = "Education/School"
        },
        new System.Web.UI.WebControls.ListItem {
            Text = "Government/Municipality",
            Value = "Government/Municipality"
        },
        new System.Web.UI.WebControls.ListItem {
            Text = "Publisher",
            Value = "Publisher"
        },
        new System.Web.UI.WebControls.ListItem {
            Text = "Media Source",
            Value = "Media Source"
        },
        new System.Web.UI.WebControls.ListItem {
            Text = "Student",
            Value = "Student"
        },
        new System.Web.UI.WebControls.ListItem {
            Text = "Ministry",
            Value = "Ministry"
        },
        new System.Web.UI.WebControls.ListItem {
            Text = "Other",
            Value = "Other"
        }
       };

        <div class="form-process"></div>

        <div class="col_one_third">
            <label for="template-contactform-name">FULL NAME <small>*</small></label>
            @Html.TextBoxFor(x => Model.FullName, new { @class = "sm-form-control required", @id = "template-contactform-name" })
        </div>

        <div class="col_one_third">
            <label for="template-contactform-email">EMAIL <small>*</small></label>
            @Html.TextBoxFor(x => Model.Email, new { @class = "required email sm-form-control", @id = "template-contactform-email" })
        </div>

        <div class="col_one_third col_last">
            <label for="template-contactform-phone">PHONE <small>*</small></label>
            @Html.TextBoxFor(x => Model.Phone, new { @class = "required sm-form-control", @id = "template-contactform-phone" })
        </div>

        <div class="clear"></div>

        <div class="col_two_third">
            <label for="template-contactform-company">Company <small>*</small></label>
            @Html.TextBoxFor(x => Model.CompanyName, new { @class = "required sm-form-control", @id = "template-contactform-company" })
        </div>

        <div class="col_one_third col_last">
            <label for="template-contactform-service">Who are you? <small>*</small></label>
            @Html.DropDownListFor(x => Model.WhoAreYou, new SelectList(WhoAreYouOptions, "Value", "Text"), new { @class = "sm-form-control required", @id = "template-contactform-whoareyou" })
        </div>

        <div class="clear"></div>

        <div class="col_two_third">
            <label for="template-contactform-website">Website <small>*</small></label>
            @Html.TextBoxFor(x => Model.WebSiteUrl, new { @class = "required sm-form-control", @id = "template-contactform-website" })
        </div>

        <div class="col_one_third col_last">
            <label for="template-contactform-service">Country <small>*</small></label>
            @Html.DropDownListFor(x => Model.Country, new SelectList(CountryOptions, "Value", "Text"), new { @class = "sm-form-control required", @id = "template-contactform-service" })
        </div>

        <div class="clear"></div>

        <div class="col_full">
            <label for="template-contactform-message">Your Inquiry <small>*</small></label>
            @Html.TextAreaFor(x => Model.Message, new { @class = "required sm-form-control bottommargin-sm", @id = "template-contactform-message" })
        </div>

        <p>JHM respects your privacy. View our <a href="#">Privacy Policy</a>.</p>

        <div class="col_full hidden">
            <input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
        </div>

        <div class="col_full">
            <button class="button button-3d nomargin" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Submit Form</button>
        </div>




    }