﻿@model Custom.Models.PrayerRequestFormModel
@{
    Layout = null;
}
@using (Html.BeginUmbracoForm<Custom.Controllers.PrayerRequestFormSurfaceController>("PostPrayerRequest", "PrayerRequestFormSurfaceController",
    new { @class = "contact-page-form nobottommargin", @id = "template-contactform" }, FormMethod.Post))
{

    IEnumerable<System.Web.UI.WebControls.ListItem> CountryOptions = new List<System.Web.UI.WebControls.ListItem> {
           new System.Web.UI.WebControls.ListItem {
            Text = "-- Select One --",
            Value = ""
        },
        new System.Web.UI.WebControls.ListItem {
            Text = "United States",
            Value = "US"
        },
        new System.Web.UI.WebControls.ListItem {
            Text = "Canada",
            Value = "CA"
        },
        new System.Web.UI.WebControls.ListItem {
            Text = "United Kingdom",
            Value = "UK"
        }
       };

    IEnumerable<System.Web.UI.WebControls.ListItem> PrayerCategories = new List<System.Web.UI.WebControls.ListItem> {
           new System.Web.UI.WebControls.ListItem {
            Text = "-- Select One --",
            Value = ""
        },
        new System.Web.UI.WebControls.ListItem {
            Text = "Well Being",
            Value = "Well Being"
        },
        new System.Web.UI.WebControls.ListItem {
            Text = "Faith",
            Value = "Faith"
        },
        new System.Web.UI.WebControls.ListItem {
            Text = "Health & Healing",
            Value = "Health & Healing"
        },
        new System.Web.UI.WebControls.ListItem {
            Text = "Finances",
            Value = "Finances"
        },
        new System.Web.UI.WebControls.ListItem {
            Text = "Relationships",
            Value = "Relationships"
        },
        new System.Web.UI.WebControls.ListItem {
            Text = "General Requests",
            Value = "General Requests"
        },
        new System.Web.UI.WebControls.ListItem {
            Text = "Other",
            Value = "Other"
        }
       };

    <div class="form-process"></div>

    <div class="col_one_third">
        <label for="template-contactform-name">FULL NAME <small>*</small></label>
        @Html.TextBoxFor(x => Model.FullName, new { @class = "sm-form-control required", @id = "template-contactform-name" })
    </div>

    <div class="col_one_third">
        <label for="template-contactform-email">EMAIL <small>*</small></label>
        @Html.TextBoxFor(x => Model.Email, new { @class = "required email sm-form-control", @id = "template-contactform-email" })
    </div>

    <div class="col_one_third col_last">
        <label for="template-contactform-phone">PHONE <small>*</small></label>
        @Html.TextBoxFor(x => Model.Phone, new { @class = "required sm-form-control", @id = "template-contactform-phone" })
    </div>

    <div class="clear"></div>

    <div class="col_two_third">
        <label for="template-contactform-company">ADDRESS <small>*</small></label>
        @Html.TextBoxFor(x => Model.Address, new { @class = "required sm-form-control", @id = "template-contactform-company" })
    </div>

    <div class="col_one_third col_last">
        <label for="template-contactform-service">PRAYER CATEGORY <small>*</small></label>
        @Html.DropDownListFor(x => Model.PrayerCategory, new SelectList(PrayerCategories, "Value", "Text"), new { @class = "sm-form-control required", @id = "template-contactform-whoareyou" })
    </div>

    <div class="clear"></div>

    <div class="col_two_third">
        <label for="template-contactform-website">CITY, STATE, ZIP CODE* <small>*</small></label>
        @Html.TextBoxFor(x => Model.CityStateZip, new { @class = "required sm-form-control", @id = "template-contactform-website" })
    </div>

    <div class="col_one_third col_last">
        <label for="template-contactform-service">Country <small>*</small></label>
        @Html.DropDownListFor(x => Model.Country, new SelectList(CountryOptions, "Value", "Text"), new { @class = "sm-form-control required", @id = "template-contactform-service" })
    </div>

    <div class="clear"></div>

    <div class="col_full">
        <label for="template-contactform-message">Prayer Request <small>*</small></label>
        @Html.TextAreaFor(x => Model.PrayerRequest, new { @class = "required sm-form-control bottommargin-sm", @id = "template-contactform-message" })
        @Html.CheckBoxFor(x => Model.SubscribeToNewsletter, new { @class = "checkbox-inline", @id = "template-contactform-name" })
        <label for="template-contactform-checkbox">Select if you like to be included in our Email Newsletter. </label>
    </div>

    <p>JHM respects your privacy. View our <a href="#">Privacy Policy</a>.</p>

    <div class="col_full hidden">
        <input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
    </div>

    <div class="col_full">
        <button class="button button-3d nomargin" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Submit Form</button>
    </div>




}