﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div class="section noborder notopmargin nopadding nobottommargin">
    <div data-animate="fadeIn" class="container clearfix">
        <div class="center"><img src="/images/daily-logo.png" alt="Daily Truth" class="topmargin-sm" style="width:300px;"></div>

        <div id="oc-posts" class="owl-carousel posts-carousel topmargin-sm">

            <div class="oc-item">
                <div class="ipost clearfix">
                    <div class="panel panel-default">
                        <i class="i-plain icon-music2 leftmargin-xsm"></i>
                        <h3 class="topmargin-xsm">Christian Music</h3>
                        <div class="panel-body">
                            <a href="/daily-truth-single-day"><img src="/images/daily-truth-christianmusic.jpg" alt="Pastor John Hagee"></a>
                            <h3 class="topmargin-xsm daily-hm"><a href="/daily-truth-single-day">Held</a></h3>
                            <h5 class="bottommargin-xsm">Natalie Grant</h5>
                            Natalie Grant's official music video: "Held", from her album "Awaken".
                        </div>
                    </div>
                </div>
            </div>

            <div class="oc-item">
                <div class="ipost clearfix">
                    <div class="panel panel-default">
                        <i class="i-plain icon-comments-alt leftmargin-xsm"></i>
                        <h3 class="topmargin-xsm">Quote</h3>
                        <div class="panel-body">
                            <a href="/daily-truth-single-day"><img src="/images/daily-truth-quotes.jpg" alt="Pastor John Hagee"></a>
                            <h3 class="topmargin-xsm daily-hm"><a href="/daily-truth-single-day">Thrown Into The Fire!</a></h3>
                            <h5 class="bottommargin-xsm">Pastor John Hagee</h5>
                            When you are thrown into the fire, God doesn’t send someone else..
                        </div>
                    </div>
                </div>
            </div>

            <div class="oc-item">
                <div class="ipost clearfix">
                    <div class="panel panel-default">
                        <i class="i-plain icon-book leftmargin-xsm"></i>
                        <h3 class="topmargin-xsm">Bible Verse</h3>
                        <div class="panel-body">
                            <a href="/daily-truth-single-day"><img src="/images/daily-truth-bibleverse.jpg" alt="Pastor John Hagee"></a>
                            <h3 class="topmargin-xsm daily-hm"><a href="/daily-truth-single-day">Bible Verse</a></h3>
                            <h5 class="bottommargin-xsm">Psalm 91:15-16</h5>
                            He shall call upon me, and I will answer Him; I will be with Him in trouble...
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script type="text/javascript">

            jQuery(document).ready(function ($) {

                var ocPosts = $("#oc-posts");

                ocPosts.owlCarousel({
                    margin: 10,
                    nav: false,
                    navText: ['<i class="icon-angle-left"></i>', '<i class="icon-angle-right"></i>'],
                    autoplay: false,
                    autoplayHoverPause: false,
                    dots: false,
                    responsive: {
                        0: { items: 1 },
                        325: { items: 1 },
                        479: { items: 1 },
                        768: { items: 3 },
                        1199: { items: 3 },
                    }
                });

            });

        </script>
        <div class="center bottommargin">
            <a href="/daily-truth" class="button button-3d button-large">More Daily #Truth</a>
        </div>
    </div>

</div>
</div>