﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div class="section noborder notopmargin nobottommargin nopadding">

    <div class="content-wrap nopadding">

        <div class="container clearfix border-box">

            <nav class="navbar navbar-default topmargin noborder" role="navigation">
              <div class="container-fluid ">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div data-animate="fadeIn" class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
    
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div data-animate="fadeIn" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav nobottommargin">
                    
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle tcolorgold" data-toggle="dropdown">This Week <b class="caret"></b></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">August 25th, 2015</a></li>
                        <li><a href="#">August 24th, 2015</a></li>
                        <li><a href="#">August 23rd, 2015</a></li>
                      </ul>
                    </li>
					<li class="dropdown">
                      <a href="#" class="dropdown-toggle tcolorgold" data-toggle="dropdown">All Types <b class="caret"></b></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">August 25th, 2015</a></li>
                        <li><a href="#">August 24th, 2015</a></li>
                        <li><a href="#">August 23rd, 2015</a></li>
                      </ul>
                    </li>
                  </ul>
                  <form class="navbar-form navbar-left nomargin" role="search">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search something specific?">
                    </div>
                    <button type="submit" class="button button-3d button-small">Submit</button>
                  </form>
                  
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container -->
            </nav>





            <!-- Daily Truths
            ============================================= -->
            <div id="posts" class="post-grid grid-3 clearfix">

                <div class="entry clearfix">
                    <div class="feature-box fbox-plain fbox-light fbox-small bottommargin-xsm">
                        <div class="fbox-icon">
                            <i class="icon-comments-alt i-alt"></i>
                        </div>
                    	<h3 class="nomargin">Quotes</h3>
                	</div>
                	<img src="/images/daily-truth-quotes.jpg" alt="Pastor John Hagee">
                	<div class="entry-content">
                    	<p class="lead">When you are thrown into the fire, God doesn’t send someone else...</p>
                    	<div class="entry-title center">
                        	<h2 class="daily"><a href="#">Pastor John Hagee</a></h2>
                    	</div>
                	</div>
                </div>

				<div class="entry clearfix">
                    <div class="feature-box fbox-plain fbox-light fbox-small bottommargin-xsm">
                        <div class="fbox-icon">
                            <i class="icon-music2 i-alt"></i>
                        </div>
                        <h3 class="nomargin">Christian Music</h3>
                    </div>
                    <img src="/images/daily-truth-christianmusic.jpg" alt="Natalie Grant">
                    <div class="entry-content">
                        <p class="lead">Natalie Grant's official music video: "Held", from  her album "Awaken".</p>
                        <div class="entry-title center">
                            <h2 class="daily"><a href="#">Natalie Grant</a></h2>
                        </div>
                    </div>
                </div>

				<div class="entry clearfix">
                    <div class="feature-box fbox-plain fbox-light fbox-small bottommargin-xsm">
                        <div class="fbox-icon">
                            <i class="icon-book3 i-alt"></i>
                        </div>
                        <h3 class="nomargin">Bible Verse</h3>
                    </div>
                    <img src="/images/daily-truth-bibleverse.jpg" alt="Bible Verse">
                    <div class="entry-content">
                        <p class="lead">He shall call upon me, and I will answer him; I will be with him in trouble...</p>
                        <div class="entry-title center">
                            <h2 class="daily"><a href="#">Psalm 91:15-16</a></h2>
                        </div>
                    </div>
                </div>

				 


            </div><!-- Daily Truths end -->

        </div>

    </div>

</div>