﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
 

@*
    This snippet shows how simple it is to fetch only children of a certain Document Type using Razor.
    Be sure to change "DocumentTypeAlias" below to match your needs, such as "TextPage" or "NewsItems".
    (You can find the alias of your Document Type by editing it in the Settings section)
*@
@{  
    var page = Umbraco.Content(1108);
    var selection = page.AncestorOrSelf(1).Descendants("Event").Where("Visible").Take(3); }
@*
    As an example of more querying, if you have a true/false property with the alias of shouldBeFeatured:
    var selection= CurrentPage.Children("DocumentTypeAlias").Where("shouldBeFeatured == true").Where("Visible");

*@
@if (selection.Any())
{
    <div id="oc-portfolio" data-animate="fadeIn" class="owl-carousel portfolio-carousel">
        @foreach (var item in selection)
        {
            <div class="oc-item">
                <div class="iportfolio panel-body">
                    <div class="team team-list clearfix">
                        <div class="portfolio-image">
                            <img src="@Umbraco.Media(item.eventImage).Url" alt="@item.eventTitle">
                        </div>
                        <div class="team-desc">
                            <div class="topmargin-xsm">
                                <div class="team-title"><h4 class="bottommargin-xsm name tcolorgold">@item.eventTitle</h4></div>
                            </div>
                            <div class="panel panel-default events-meta">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Event Overview</h3>
                                </div>
                                <div class="panel-body">
                                    <ul class="iconlist nobottommargin">
                                        <li><i class="icon-calendar3"></i> <strong>Date:</strong> @item.eventStartDate</li>
                                        <li><i class="icon-time"></i> <strong>Start Time:</strong> @item.eventStartTime - End Time: @item.eventEndTime</li>
                                    </ul>
                                </div>
                            </div>
                            <a href="/events/event-description/?id=@item.Id" class="button button-3d bottommargin-sm">View Event</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}




