﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div id="connect-jhm" class="section noborder nomargin" style="background-color: #fff; padding-top:50px;" data-stellar-background-ratio="0.3">
    <div data-animate="fadeIn" class="container center clearfix">
        <div class="heading-block noborder bottommargin-sm">
            <h2>Connect with JHM</h2>
            <p class="lead">
                John Hagee Ministries is more than just a church, we have other divisions within JHM that exist for the purpose of providing you with information, spiritual guidance, insights and prayer.
            </p>
        </div>
        <div class="container-fluid clearfix">
            <div class="col_one_fourth bottommargin-sm col_respon">
                <div class="feature-box fbox-large fbox-plain noborder">
                    <div class="fbox-icon nobottommargin fleft">
                        <a href="https://www.getv.org/" target="_blank"><img src="/images/connect-getv.png" style="width:100%; height:100%;" alt="GETV"></a>
                    </div>
                    <div class="connect-text fleft">GETV</div>
                </div>
            </div>
            <div class="col_one_fourth bottommargin-sm col_respon">
                <div class="feature-box fbox-large fbox-plain noborder">
                    <div class="fbox-icon nobottommargin fleft">
                        <a href="http://www.sacornerstone.org/" target="_blank"><img src="/images/connect-cornerstonechurch.png" style="width:100%; height:100%;" alt="Cornerstone Church"></a>
                    </div>
                    <div class="connect-text fleft">Cornerstone Church</div>
                </div>
            </div>
            <div class="col_one_fourth bottommargin-sm col_respon">
                <div class="feature-box fbox-large fbox-plain noborder">
                    <div class="fbox-icon nobottommargin fleft">
                        <a href="http://www.differencemedia.org/" target="_blank"><img src="/images/connect-differencemedia.png" style="width:100%; height:100%;" alt="Difference Media"></a>
                    </div>
                    <div class="connect-text fleft">Difference Media</div>
                </div>
            </div>
            <div class="col_one_fourth col_last bottommargin-sm col_respon">
                <div class="feature-box fbox-large fbox-plain noborder">
                    <div class="fbox-icon nobottommargin fleft">
                        <a href="http://www.sa-ccs.org/home/" target="_blank"><img src="/images/connect-cornerstoneschool.png" style="width:100%; height:100%;" alt="Cornerstone School"></a>
                    </div>
                    <div class="connect-text fleft">Cornerstone School</div>
                </div>
            </div>
        </div>
    </div>
</div>