﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div id="jhm-shop" class="section parallax notopborder nobottompadding notoppadding nomargin dark" style="background-image: url('/images/newjhm_ShopBG.jpg');" data-stellar-background-ratio="0.3">

    <div data-animate="fadeIn" class="container clearfix bottommargin">
        <!-- Post Content
                  ============================================= -->


        <div class="slider-caption slider-caption-center bottommargin topmargin">
            <h2>Shop JHM</h2>
            <p class="lead">With a large variety of books, audio books, and CD’s Shop John Hagee is the perfect place to discover something more.</p>
            <!--<div id="processTabs">
                 <ul class="process-steps process-3 bottommargin clearfix">
                     <li>
                         <img src="/images/ways-icon-tv.png" style="width:50%; height:50%;" alt="Books">
                         <h3 class="heading">Books</h3>

                     </li>
                     <li>
                          <img src="/images/ways-icon-tv.png" style="width:50%; height:50%;" alt="Books">
                         <h3 class="heading">Books</h3>

                     </li>
                     <li>
                          <img src="/images/ways-icon-tv.png" style="width:50%; height:50%;" alt="Books">
                         <h3 class="heading">Books</h3>

                     </li>
                 </ul>
             <div>-->
        </div>




        <div class="col_one_third col_respon nobottommargin">
            <div class="feature-box fbox-center fbox-plain noborder">
                <div class="fbox-icon">
                    <a href="#">
                        <img src="/images/shop-books.png" alt="Books" />
                        <!--<i class="icon-shopping-cart tcolorwhite"></i>-->
                    </a>
                </div>
                <h4 class="heading">Books</h4>
            </div>
        </div>
        <div class="col_one_third col_respon nobottommargin">
            <div class="feature-box fbox-center fbox-plain noborder">
                <div class="fbox-icon">
                    <a href="#"><img src="/images/shop-apparel.png" alt="Apparel" /></a>
                </div>
                <h4 class="heading">Apparel</h4>
            </div>
        </div>
        <div class="col_one_third col_last col_respon nobottommargin">
            <div class="feature-box fbox-center fbox-plain noborder">
                <div class="fbox-icon">
                    <a href="#"><img src="/images/shop-media.png" alt="Media" /></a>
                </div>
                <h4 class="heading">Media</h4>
            </div>
        </div>

        <div class="center"><a href="#" class="button button-border button-light button-large">Shop Now</a></div>
    </div>

</div>