﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<!-- Primary Navigation
============================================= -->
<nav id="primary-menu" class="dark">
    <ul>
        <li><a href="/"><div>Home</div></a></li>
        <li>
            <a href="#"><div>About</div></a>
            <ul>
                <li><a href="/about-jhm"><div>About JHM</div></a></li>
                <li><a href="/beliefs"><div>Beliefs</div></a></li>
                <li><a href="/support-israel"><div>Support Israel</div></a></li>
                <li><a href="/the-difference"><div>The Difference</div></a></li>
                <li><a href="/faqs"><div>FAQs</div></a></li>
                <li><a href="#"><div>Partner</div></a></li>
            </ul>
        </li>
        <li><a href="/"><div>Events</div></a></li>
        <li><a href="/"><div>Prayer</div></a></li>
        <li><a href="/"><div>Media</div></a></li>
        <li><a href="/"><div>Shop</div></a></li>
        <li><a href="/"><div>Donate</div></a></li>
        <li><a href="/contact-us"><div>Contact</div></a></li>
    </ul>




    
    @*<!-- Top Cart
    ============================================= --><div id="top-cart">
        <a href="#" id="top-cart-trigger"><i class="icon-shopping-cart"></i><span>2</span></a>
        <div class="top-cart-content">
            <div class="top-cart-title">
                <h4>Shopping Cart</h4>
            </div>
            <div class="top-cart-items">
                <div class="top-cart-item clearfix">
                    <div class="top-cart-item-image">
                        <a href="#"><img src="/images/four-moons2.jpg" alt="Four Blood Moons" /></a>
                    </div>
                    <div class="top-cart-item-desc">
                        <a href="#">Four Blood Moons</a>
                        <span class="top-cart-item-price">$19.99</span>
                        <span class="top-cart-item-quantity">x 1</span>
                    </div>
                </div>
                <div class="top-cart-item clearfix">
                    <div class="top-cart-item-image">
                        <a href="#"><img src="/images/four-moons2.jpg" alt="Four Blood Moons" /></a>
                    </div>
                    <div class="top-cart-item-desc">
                        <a href="#">Four Blood Moons</a>
                        <span class="top-cart-item-price">$19.99</span>
                        <span class="top-cart-item-quantity">x 1</span>
                    </div>
                </div>
            </div>
            <div class="top-cart-action clearfix">
                <span class="fleft top-checkout-price">$39.98</span>
                <button class="button button-3d button-small nomargin fright">View Cart</button>
            </div>
        </div>
    </div><!-- #top-cart end -->*@
    <!-- Top Search
    ============================================= -->
    <div id="top-search">
        <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
        <form action="/search" method="get">
            <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
        </form>
    </div><!-- #top-search end -->

    <div id="side-panel-trigger" class="side-panel-trigger"><a href="#"><i class="icon-reorder"></i></a></div>

</nav><!-- #primary-menu end -->