﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div id="slider" class="parallax clearfix dark" style="background-image: url('/images/daily-truth-background.jpg'); " data-stellar-background-ratio="0.3">
    <div class="container clearfix bottompadding-lg">
        <div class="slider-caption slider-caption-center bottommargin">
            <img data-animate="fadeIn" src="/images/daily-logo.png" alt="Daily Truth" class="" style="width:300px;">
        </div>

		
    </div>
</div>