﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div id="slider" class="parallax clearfix dark" style="background-image: url('/images/events-background.jpg'); " data-stellar-background-ratio="0.3">
    <div data-animate="fadeIn" class="container clearfix bottompadding-xlg">
        <div class="slider-caption slider-caption-center bottommargin">
            <h3>JHM Upcoming Events</h3>
            <p class="lead">John Hagee Ministries events that are sure to give you insight and faith.</p>
        </div>
    </div>
</div>


