﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div id="slider" class="parallax clearfix dark" style="background-image: url('/images/title-background.jpg'); " data-stellar-background-ratio="0.3">
    <div data-animate="fadeIn" class="container clearfix bottompadding-xlg">
        <div class="slider-caption slider-caption-center bottommargin">
            <h3>Contact Us</h3>
            <p class="lead">We welcome your feedback or any question that you might have.</p>
        </div>
    </div>
</div>