﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div id="slider" class="parallax clearfix dark" style="background-image: url('/images/socialmedia-background.jpg'); " data-stellar-background-ratio="0.3">
    <div class="container clearfix bottompadding-xlg">
        <div class="slider-caption slider-caption-center bottommargin">
            <h3 data-animate="fadeIn">JHM Social Media</h3>
            <p data-animate="fadeIn" class="lead">Follow John Hagee Ministries and stay informed of what is happening each and every day.</p>
        </div>
    </div>
</div>