﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div id="slider" class="dt-single clearfix dark" data-stellar-background-ratio="0.3">
    <div class="container clearfix bottompadding-md">
        <a href="/daily-truth" class="daily-truth-return">Return</a>
        <div class="slider-caption slider-caption-center bottommargin">
            <img data-animate="fadeIn" src="/images/daily-logo.png" alt="Daily Truth" class="" style="width:300px;">
        </div>
    </div>
</div>