﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div id="slider" class="parallax clearfix dark" style="background-image: url('/images/become-christian-background.jpg'); " data-stellar-background-ratio="0.3">
    <div data-animate="fadeIn" class="container clearfix bottompadding-xlg">
        <div class="slider-caption slider-caption-center bottommargin">
            <h3>How do I Become a Christian?</h3>
            <p class="lead">Shed some light on receiving your new life and living in Christ's love.</p>
        </div>
    </div>
</div>