﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div class="section parallax notopborder nomargin dark" style="background-image: url('/images/prayer-requests.jpg'); background-color: #000000; padding-top:50px;" data-stellar-background-ratio="0.3">
    <div data-animate="fadeIn" class="container center clearfix">
        <div class="slider-caption slider-caption-center bottommargin-lg topmargin-lg">
            <h2>Prayer Requests</h2>
            <p class="lead">Your prayer request will be shared with our community, so that they may pray for you.</p>
            <a href="/prayer-requests" class="button button-3d button-large">Send a Prayer</a>
        </div>
    </div>
</div>