﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@*
    This snippet shows how simple it is to fetch only children of a certain Document Type using Razor.
    Be sure to change "DocumentTypeAlias" below to match your needs, such as "TextPage" or "NewsItems".
    (You can find the alias of your Document Type by editing it in the Settings section)
*@
@{  var selection = CurrentPage.Descendants("BioSliderImage").Where("Visible"); }
@*
        As an example of more querying, if you have a true/false property with the alias of shouldBeFeatured:
        var selection= CurrentPage.Children("DocumentTypeAlias").Where("shouldBeFeatured == true").Where("Visible");

    <div><a href="@item.Url">@item.Name</a></div>

    @CurrentPage.GetCropUrl("image", "banner")

*@
@if (selection.Any())
{
    <div class="swiper-wrapper">
        @foreach (var item in selection)
        {
            <div class="swiper-slide dark" style="background-image: url('@Umbraco.Media(item.sliderImageCropper).Url');">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-center">
                        <img src="@Umbraco.Media(item.bioSignatureImage).Url" />
                        <p class="nomargin">
                            @item.shortBio
                        </p>
                        <p class="topmargin-xsm"><a href="@item.homepageBioReadMoreUrl" class="button button-3d"><span>Read More</span></a></p>
                    </div>
                </div>
            </div>
        }
    </div>
}

