*{
	margin:0;
	padding:0;
	border:0;
	outline:none;
}

a{ 
	text-decoration: none; 
}

body {
	background-color:#333;
}





#componentWrapper{
	position:fixed;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	background:#000;
	overflow:hidden;
}

#componentWrapper .mediaWrapper{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
}	

#componentWrapper .mediaWrapper_v{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
}	

#componentWrapper .youtubeHolder, #componentWrapper .vimeoHolder{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	display:none;
}	

#componentWrapper .componentPlaylist{
	display:none;
}

#componentWrapper .thumbHolder{
	position:absolute;
	width:100%;
	height:120px;
	left:0px;
	bottom:0px;
	background:#222;
	overflow:hidden;
}

#componentWrapper .thumbHolder_v{
	position:absolute;
	height:100%;
	width:160px;
	top:0px;
	right:0px;
	background:#222;
	overflow:hidden;
}

/* horizontal thumbnails */
#componentWrapper .thumbContainer{
	position:absolute;
	height:80px;
	top:40px;
}

#componentWrapper .thumbContainer_v{
	position:absolute;
	width:120px;
	left:40px;
}

#componentWrapper .thumbInnerContainer{
	position:absolute;
	height:80px;
	top:0px;
	left:0px;
}

#componentWrapper .thumbInnerContainer_v{
	position:absolute;
	width:120px;
	top:0px;
	left:0px;
}

#componentWrapper .thumbBackward{
	position:absolute;
	width:50px;
	height:80px;
	top:40px;
	left:0px;
	background: rgb(0, 0, 0) url('../data/icons/prev.png') no-repeat center center;
	background: rgba(0, 0, 0, 0.6) url('../data/icons/prev.png') no-repeat center center;
	display:none;
}

#componentWrapper .thumbBackward_v{
	position:absolute;
	height:50px;
	width:120px;
	left:40px;
	top:0px;
	background: rgb(0, 0, 0) url('../data/icons/prev_v.png') no-repeat center center;
	background: rgba(0, 0, 0, 0.6) url('../data/icons/prev_v.png') no-repeat center center;
	display:none;
}

#componentWrapper .thumbForward{
	position:absolute;
	width:50px;
	height:80px;
	top:40px;
	right:0px;
	background: rgb(0, 0, 0) url('../data/icons/next.png') no-repeat center center;
	background: rgba(0, 0, 0, 0.6) url('../data/icons/next.png') no-repeat center center;
	display:none;
}

#componentWrapper .thumbForward_v{
	position:absolute;
	height:50px;
	width:120px;
	left:40px;
	bottom:0px;
	background: rgb(0, 0, 0) url('../data/icons/next_v.png') no-repeat center center;
	background: rgba(0, 0, 0, 0.6) url('../data/icons/next_v.png') no-repeat center center;
	display:none;
}

#componentWrapper .thumbs{
	position:relative;
	top:0px;
	left:0px;
	width:120px;
	height:80px;
	margin-right:10px !important;
	float:left;
	background:#222;
	overflow:hidden;
}

#componentWrapper .thumbs_v{
	position:relative;
	top:0px;
	left:0px;
	width:120px;
	height:80px;
	margin-bottom:5px !important;
	background:#222;
	overflow:hidden;
}

#componentWrapper .thumb_img{
	position:relative;
	display:block;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}

#componentWrapper .title_holder{
	position:absolute;
	left:0px;
	top:0px;
	width:110px;
	height:70px;
	padding: 5px; 
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.6);
	overflow:hidden;
}

#componentWrapper .title{
	color:#e5e5e5;
	font-family: sans-serif;
	font-size:16px;
	-webkit-font-smoothing: antialiased;
}

#componentWrapper .playlistControls{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:40px;
	background:#111;
}

#componentWrapper .playlistControls_v{
	position:absolute;
	left:0px;
	top:0px;
	height:100%;
	width:40px;
	background:#111;
}

#componentWrapper .advance_controls{
	position:absolute;
	left:50%;
	margin-left:-70px;
	top:0px;
	height:100%;
	width:140px;
}

#componentWrapper .advance_controls_v{
	position:absolute;
	left:0px;
	top:50%;
	margin-top:-70px;
	height:140px;
	width:100%;
}

#componentWrapper .advance_controls_small{
	position:absolute;
	left:5px;
	top:0px;
	height:100%;
	width:110px;
}

#componentWrapper .advance_controls_v_small{
	position:absolute;
	left:0px;
	top:5px;
	height:110px;
	width:100%;
}

#componentWrapper .playlist_prev{
	position:relative;
	width:33%;
	height:40px;
	left:0px;
	top:0px;
	background: #111 url('../data/icons/prev.png') no-repeat center center;
	float:left;
}

#componentWrapper .playlist_prev_v{
	position:relative;
	height:33%;
	width:40px;
	top:0px;
	left:0px;
	background: #111 url('../data/icons/prev_v.png') no-repeat center center;
}

#componentWrapper .playlist_toggle{
	position:relative;
	width:33%;
	height:40px;
	left:0px;
	top:0px;
	background: #111 url('../data/icons/prev_v.png') no-repeat center center;
	float:left;
}

#componentWrapper .playlist_toggle_v{
	position:relative;
	height:33%;
	width:40px;
	top:0px;
	left:0px;
	background: #111 url('../data/icons/prev.png') no-repeat center center;
}

#componentWrapper .playlist_next{
	position:relative;
	width:33%;
	height:40px;
	right:0px;
	top:0px;
	background: #111 url('../data/icons/next.png') no-repeat center center;
	float:left;
}

#componentWrapper .playlist_next_v{
	position:relative;
	height:33%;
	width:40px;
	top:0px;
	left:0px;
	background: #111 url('../data/icons/next_v.png') no-repeat center center;
}

#componentWrapper .playlist_switch{
	position:absolute;
	width:30px;
	height:40px;
	right:20px;
	top:0px;
	background: #111 url('../data/icons/switch.png') no-repeat center center;
}

#componentWrapper .playlist_switch_v{
	position:absolute;
	height:30px;
	width:40px;
	top:20px;
	left:0px;
	background: #111 url('../data/icons/switch.png') no-repeat center center;
}

#componentWrapper .playlist_switch_small{
	position:absolute;
	width:30px;
	height:40px;
	right:5px;
	top:0px;
	background: #111 url('../data/icons/switch.png') no-repeat center center;
}

#componentWrapper .playlist_switch_v_small{
	position:absolute;
	height:30px;
	width:40px;
	top:5px;
	left:0px;
	background: #111 url('../data/icons/switch.png') no-repeat center center;
}




#componentWrapper .mediaPreloader{
	position:absolute;
	top:50%;
	left:50%;
	margin:-25px 0px 0px -25px;
	background:#000 url('../data/loader.gif') no-repeat center center;
	width:50px;
	height:50px;
	z-index:999;
	opacity:0.7;
}











#api_panel {
	position:fixed;
	top:0px;
	right:0px;
	height:100%;
	overflow-y:auto;
	display:none;
}

#api_panel_inner {
	padding: 30px;
	background:#444;
	font-family: sans-serif;
	font-size: 16px;
	color:#eee;
	-moz-box-shadow: 2px 2px 5px #222;
	-webkit-box-shadow: 2px 2px 5px #222;
	box-shadow: 2px 2px 5px #222;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#222222')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#222222');
}

#api_panel li a{
	color:#fff;
}

#api_panel li a:hover, #api_panel li .current{
	text-decoration: underline;
}

.toggle_panel {
	position:fixed;
	top:0px;
	right:0px;
	width:40px;
	height:40px;
	background: #444 url('../data/icons/open.png') no-repeat center center;
	display:none;
}

.toggle_panel_close {
	position:fixed;
	top:0px;
	right:0px;
	width:40px;
	height:40px;
	background: #444 url('../data/icons/close.png') no-repeat center center;
}