﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div class="container-fluid clearfix">
    <div class="row clearfix common-height">

    <div class="col-md-6 center col-padding" style="background: url('/images/john-hagee.jpg') top center no-repeat; background-size: cover;">
        <div>&nbsp;</div>
    </div>
    
    <div class="col-md-6 col-padding" style="background-color: #F2f2f2;">
        <div>
           
            <div class="heading-block nobottomborder bottommargin-sm">
                <span class="before-heading color">Senior Pastor Cornerstone Church</span>
                <h2>Pastor John C. Hagee</h2>
            </div>
            <div class="row clearfix">

                <div class="col-md-12">
                    <p>Pastor John C. Hagee is the founder and Senior Pastor of Cornerstone Church in San Antonio, Texas, a non-denominational evangelical church with more than 20,000 active members. Pastor Hagee has served the Lord in the gospel ministry for over 57 years. Pastor Hagee is founder and President of John Hagee Ministries, which telecasts his national radio and television teachings throughout America and the nations of the world, and is now seen worldwide twenty-four hours a day, seven days a week on GETV.org.</p>
                    <p>Pastor John Hagee received a Bachelor of Science degree from Southwestern Assemblies of God University in Waxahachie, Texas and a second Bachelor of Science degree from Trinity University in San Antonio, Texas. He earned his Master’s Degree in Educational Administration from the University of North Texas in Denton, Texas. Pastor Hagee has received Honorary Doctorates from Oral Roberts University, Canada Christian College, and Netanya Academic College of Israel.</p>
    
                    <h4>Successful Author</h4>
                    <blockquote>
                        <p>John Hagee is the author of 34 major books, many of which were on the New York Times Best Seller’s List including “Four Blood Moons”, which is now featured as a successful docudrama film. His most recent book “The Three Heavens” will be released this spring by Worthy Publishing. Among his other works are commentary study Bibles, novels and numerous devotionals.</p>
                    </blockquote>
    
                    <p>Over the years, John Hagee Ministries has given more than $85 million toward humanitarian causes in Israel. In 2006, Dr. Hagee founded, and is the National Chairman of Christians United For Israel, a grass roots national association through which every pro—Israel Christian ministry, para-church organization, or individual in America can speak and act with one voice in support of Israel and the Jewish people. Dr. Hagee gains support for this worthy cause by conducting A Night to Honor Israel in every major city in America and by organizing an annual Washington D.C.-Israel Summit where thousands of CUFI delegates from every state in the union have the opportunity to meet the members of congress face to face on behalf of Israel.</p>
    
                        <p>Christians United for Israel has grown to become the largest Christian pro-Israel organization in the United States – with over 2.1 million members-- and one of the leading Christian grassroots movements in the world. Christians United for Israel has recently opened offices in the United Kingdom and Canada to combat anti-Semitism. Pastor Hagee and his wife Diana are blessed with five children and thirteen grandchildren.</p>
                    <a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>
                    <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>
                    <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                        <i class="icon-gplus"></i>
                        <i class="icon-gplus"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
