﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
 <div class="section noborder nomargin nopadding">
    <div class="container center clearfix">
         <div class="heading-block noborder topmargin-sm bottommargin-sm">
            <h2 data-animate="fadeIn">JHM Events</h2>
            <p data-animate="fadeIn" class="lead">John Hagee Ministries events that are sure to give you insight and faith. </p>
        </div>
        
        <div id="oc-portfolio" data-animate="fadeIn" class="owl-carousel portfolio-carousel">
        
         	<div class="oc-item">
				<div class="iportfolio">
                    <div class="portfolio-image">
                        <img src="/images/jhm-event-atsea.jpg" alt="John Hagee Minsitries">
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3><a class="tcolorgold" href="events.php">JHM At Sea</a></h3>
                                <span class="bottommargin-xsm">Free concert and spectacular fireworks display. Join us for incredible entertainment and a fireworks display that will make... </span>
                                <a href="events.php">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a class="tcolorblue" href="events.php">JHM At Sea</a></h3>
                        <p class="lead nobottommargin">August 16th, 2015</p>
                    </div>
                </div>
			</div>

            <div class="oc-item">
				<div class="iportfolio">
                    <div class="portfolio-image">
                        <img src="/images/jhm-event-branson.jpg" alt="John Hagee Minsitries">
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3><a class="tcolorgold" href="events.php">Branson Rally</a></h3>
                               <span class="bottommargin-xsm">Free concert and spectacular fireworks display. Join us for incredible entertainment and a fireworks display that will make... </span>
                               <a href="events.php">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a class="tcolorblue" href="events.php">Branson Rally</a></h3>
                        <p class="lead nobottommargin">August 16th, 2015</p>
                    </div>
            	</div>
			</div>
            
			<div class="oc-item">
				<div class="iportfolio">
                    <div class="portfolio-image">
                        <img src="/images/jhm-event-4th.jpg" alt="John Hagee Minsitries">
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3><a class="tcolorgold" href="events.php">4th of July Celebration</a></h3>
                                <span class="bottommargin-xsm">Free concert and spectacular fireworks display. Join us for incredible entertainment and a fireworks display that will make... </span>
                                <a href="events.php">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a class="tcolorblue" href="events.php">4th of July Celebration</a></h3>
                        <p class="lead nobottommargin">August 16th, 2015</p>
                    </div>
            	</div>
			</div>

           <div class="oc-item">
				<div class="iportfolio">
                    <div class="portfolio-image">
                        <img src="/images/jhm-event-4th.jpg" alt="John Hagee Minsitries">
                        <div class="portfolio-overlay">
                            <div class="portfolio-desc">
                                <h3><a class="tcolorgold" href="events.php">4th of July Celebration</a></h3>
                                <span class="bottommargin-xsm">Free concert and spectacular fireworks display. Join us for incredible entertainment and a fireworks display that will make... </span>
                                <a href="events.php">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-desc">
                        <h3><a class="tcolorblue" href="events.php">4th of July Celebration</a></h3>
                        <p class="lead nobottommargin">August 16th, 2015</p>
                    </div>
            	</div>
			</div> 
        </div><!-- #portfolio end -->
      </div>
    <div class="container center clearfix topmargin-sm bottommargin">
        <a href="events.php" data-animate="fadeIn" class="button button-3d button-large">View All Events</a>
    </div>
</div>
<script type="text/javascript">

						jQuery(document).ready(function($) {

							var ocPortfolio = $("#oc-portfolio");

							ocPortfolio.owlCarousel({
								margin: 10,
								nav: false,
								navText: ['<i class="icon-angle-left"></i>','<i class="icon-angle-right"></i>'],
								autoplay: false,
								autoplayHoverPause: false,
								dots: false,
								responsive:{
									 0:{ items:1 },
									325:{ items:1 },
									479:{ items:2},
									768:{ items:4 },
									1199:{ items:4 },
								}
							});

						});

					</script>