﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
 <!-- Footer
        ============================================= -->
        <footer id="footer" class="dark">

            <div class="container">

                <!-- Footer Widgets
                ============================================= -->
                <div class="footer-widgets-wrap clearfix nopadding topmargin-xsm bottommargin-sm">

                    <div class="col_half col_respon">

                        <div class="widget clearfix">

                            <img src="/images/logo.png" alt="John Hagee Ministries" class="footer-logo topmargin-xsm bottommargin-sm" style="width:261px;">

                            <div class="clearfix">
                                <div class="col_one_third col_respon">
                                    <strong>Phone:</strong> @Umbraco.Field("headquartersSupportPhone", recursive: true)<br>
                                    <strong>Email:</strong> @Umbraco.Field("headquartersSupportEmail", recursive: true)
                                </div>
                                <div class="col_two_third col_last col_respon">
                                    <strong>Headquarters:</strong><br>
                                    @Umbraco.Field("headquartersAddress", recursive: true), @Umbraco.Field("headquartersCity", recursive: true), @Umbraco.Field("headquartersState", recursive: true) @Umbraco.Field("headquartersZip", recursive: true)
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col_half col_last col_respon nomargin">

						<div class="widget clearfix topmargin-sm">

							<div class="clearfix footer-text" style="background: url('/images/world-map.png') no-repeat right center;"> 

                                <p>We pledge to our viewers &amp; supporters to take </br><strong>"The Gospel to all the World and to all Generations."</strong></p>
                        
                                <div class="counter counter-small topmargin" style="color: #d9ac05;"><span data-from="0" data-to="250000" data-refresh-interval="40" data-speed="1000" data-comma="true"></span>+ Total Members
                                </div>
								
							</div>

						</div>

					</div>

                    <!--<div class="col_one_fourth col_last topmargin-sm">

                        <div class="widget clearfix">

                            <div class="clearfix" style="padding: 10px 0; background: url('/images/world-map.png') no-repeat center center;">
                                 <p>We pledge to our viewers &amp; supporters to take <strong>"The Gospel to all the World and to all Generations."</strong></p>
                            </div>

                        </div>

                    </div>-->

                </div><!-- .footer-widgets-wrap end -->

            </div>

            <!-- Copyrights
    ============================================= -->
    <div id="copyrights" class="topbottompadding">

        <div class="container clearfix">

            <div class="col_half">
                ©2015 John Hagee Ministries. All Rights Reserved<br>
                <div class="copyright-links"><a href="/privacy-policy-and-terms-of-use/">Privacy Policy & Terms of Use</a></div>
            </div>

            <div class="col_half col_last tright">
                <div class="fright clearfix topmargin-xsm">
                    <a href="https://www.facebook.com/JohnHageeMinistries" target="_blank" class="social-icon si-small si-borderless si-facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>

                    <a href="https://twitter.com/search?q=%40HageeMinistries&src=typd" target="_blank" class="social-icon si-small si-borderless si-twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>

                    <a href="https://www.pinterest.com/hageeministries/" target="_blank" class="social-icon si-small si-borderless si-pinterest">
                        <i class="icon-pinterest"></i>
                        <i class="icon-pinterest"></i>
                    </a>

					<a href="https://www.youtube.com/user/HageeMinistries" target="_blank" class="social-icon si-small si-borderless si-youtube">
                        <i class="icon-youtube-play"></i>
                        <i class="icon-youtube-play"></i>
                    </a>

					<a href="https://instagram.com/HageeMinistries/" target="_blank" class="social-icon si-small si-borderless si-instagram">
                        <i class="icon-instagram"></i>
                        <i class="icon-instagram"></i>
                    </a>

					<a href="https://plus.google.com/+JohnHageeMinistries/posts" target="_blank" class="social-icon si-small si-borderless si-gplus">
                        <i class="icon-gplus"></i>
                        <i class="icon-gplus"></i>
                    </a>

                </div>

                <div class="clear"></div>
               
            </div>

        </div>

    </div><!-- #copyrights end -->

  </footer><!-- #footer end -->

