﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<header id="header" class="transparent-header semi-transparent dark full-header">
    <div id="header-wrap">
        <div class="container clearfix">
            <div id="primary-menu-trigger"></div>

            <!-- Top logos
                ============================================= -->

                <div id="top-logos" class="dark">
                    <a href="#" id="top-logos-trigger"><i class="icon-chevron-down"></i></a>
                    <div class="top-logos-content">
                        <div class="top-logos-title">
                            <h4>Select a JHM Destination</h4>
                        </div>
                        <div class="top-logos-items">
                            <div class="top-logos-item clearfix">
                                <div class="top-logos-item-image">
                                    <a href="https://www.getv.org/" target="_blank"><img src="/images/getv-logo.png" alt="GETV" /></a>
                                </div>
                                <div class="top-logos-item-desc">
                                    <a href="https://www.getv.org/" target="_blank">GETV Live Stream</a>
                                    <span class="top-logos-item-price">24/7 live streaming of our sermons.</span>
                                </div>
                            </div>
                            <div class="top-logos-item clearfix">
                                <div class="top-logos-item-image">
                                    <a href="http://www.sacornerstone.org/" target="_blank"><img src="/images/cornerstone-church.png" alt="Cornerstone Church" /></a>
                                </div>
                                <div class="top-logos-item-desc">
                                    <a href="http://www.sacornerstone.org/" target="_blank">Cornerstone Church</a>
                                    <span class="top-logos-item-price">John Hagee Ministries.</span>
                                </div>
                            </div>
                            <div class="top-logos-item clearfix">
                                <div class="top-logos-item-image">
                                    <a href="http://www.differencemedia.org/" target="_blank"><img src="/images/difference-media.png" alt="Difference Media" /></a>
                                </div>
                                <div class="top-logos-item-desc">
                                    <a href="http://www.differencemedia.org/" target="_blank">Difference Media</a>
                                    <span class="top-logos-item-price">24/7 live streaming of our sermons.</span>
                                </div>
                            </div>
                            <div class="top-logos-item clearfix">
                                <div class="top-logos-item-image">
                                    <a href="http://www.sa-ccs.org/home/" target="_blank"><img src="/images/christian-logo.png" alt="Cornerstone School" /></a>
                                </div>
                                <div class="top-logos-item-desc">
                                    <a href="http://www.sa-ccs.org/home/" target="_blank">Cornerstone School</a>
                                    <span class="top-logos-item-price">Spiritual & Educational Instruction.</span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div><!-- #top-logos end -->
            
            
            <!-- Logo
            ============================================= -->
            <div id="logo">
                <a href="/index.php" class="standard-logo" data-dark-logo="/images/logo-dark.png"><img src="/images/logo-dark.png" alt="JHM"></a>
                <a href="/index.php" class="retina-logo" data-dark-logo="/images/logo-dark.png"><img src="/images/logo-dark.png" alt="JHM"></a>
            </div><!-- #logo end -->

        
        
        


            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu" class="dark">
                <ul>
                    <li><a href="/index.php"><div>Home</div></a></li>
					<li><a href=""><div>About <i class="icon-angle-down"></i></div></a>
                        <ul>
                            <li><a href="/whoweare.php"><div>Who We Are</div></a></li>
							<li><a href="/faqs.php"><div>FAQs</div></a></li>
                            <li><a href="/contact-us.php"><div>Contact Us</div></a></li>
                            <li><a href="/careers.php"><div>Careers</div></a></li>
                            <li><a href="/mediainquiries.php"><div>Media Inquiries</div></a></li>
                        </ul>
                    </li>
                    <li><a href="/index.php"><div>Events</div></a></li>
                    <li><a href=""><div>Encouragement <i class="icon-angle-down"></i></div></a>
                        <ul>
                            <li><a href="#"><div>Prayer Requests</div></a></li>
                            <li><a href="#"><div>Daily Devotional</div></a></li>
                            <li><a href="/daily-truth.php"><div>Daily #Truth</div></a></li>
                        </ul>
                    </li>
                    
                    <li><a href="/index.php"><div>Shop</div></a></li>
                    <li><a href=""><div>Connect <i class="icon-angle-down"></i></div></a>
                        <ul>
                            <li><a href="/jhm-magazine.php"><div>JHM Magazine</div></a></li>
                            <li><a href="/social-media.php"><div>Social Media</div></a></li>
                            <li><a href="/email-stayinformed.php"><div>Email: Stay Informed</div></a></li>
                        </ul>
                    </li>
                    <li><a href=""><div>Give <i class="icon-angle-down"></i></div></a>
                        <ul>
                            <li><a href="#"><div>Donate to JHM</div></a></li>
                            <li><a href="#"><div>Naming Opportunities</div></a></li>
                            <li><a href="#"><div>Support Israel</div></a></li>
                            <li><a href="#"><div>Sanctuary of Hope</div></a></li>
                            <li><a href="#"><div>Salt Covenant</div></a></li>
                            <li><a href="#"><div>Legacy Giving</div></a></li>
                        </ul>
                    </li>
                   
                </ul>

                
                
                
                <!-- Top Cart
                ============================================= -->
                <div id="top-cart">
                    <a href="#" id="top-cart-trigger"><i class="icon-shopping-cart"></i><span>2</span></a>
                    <div class="top-cart-content">
                        <div class="top-cart-title">
                            <h4>Shopping Cart</h4>
                        </div>
                        <div class="top-cart-items">
                            <div class="top-cart-item clearfix">
                                <div class="top-cart-item-image">
                                    <a href="#"><img src="/images/four-moons2.jpg" alt="Four Blood Moons" /></a>
                                </div>
                                <div class="top-cart-item-desc">
                                    <a href="#">Four Blood Moons</a>
                                    <span class="top-cart-item-price">$19.99</span>
                                    <span class="top-cart-item-quantity">x 1</span>
                                </div>
                            </div>
                            <div class="top-cart-item clearfix">
                                <div class="top-cart-item-image">
                                    <a href="#"><img src="/images/four-moons2.jpg" alt="Four Blood Moons" /></a>
                                </div>
                                <div class="top-cart-item-desc">
                                    <a href="#">Four Blood Moons</a>
                                    <span class="top-cart-item-price">$19.99</span>
                                    <span class="top-cart-item-quantity">x 1</span>
                                </div>
                            </div>
                        </div>
                        <div class="top-cart-action clearfix">
                            <span class="fleft top-checkout-price">$39.98</span>
                            <button class="button button-3d button-small nomargin fright">View Cart</button>
                        </div>
                    </div>
                </div><!-- #top-cart end -->
                
                <!-- Top Search
                ============================================= -->
                <div id="top-search">
                    <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                    <form action="search.html" method="get">
                        <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                    </form>
                </div><!-- #top-search end -->

                <div id="side-panel-trigger" class="side-panel-trigger"><a href="#"><i class="icon-reorder"></i></a></div>

            </nav><!-- #primary-menu end -->
            
        </div>

    </div>

</header><!-- #header end -->
