﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage





<header id="header" class="transparent-header semi-transparent dark full-header">
			<div id="header-wrap">
				<div class="container clearfix">



				

					<div id="primary-menu-trigger"></div>

                    <!-- Top logos
						============================================= -->
						<div id="top-logos" class="dark">
							<a href="#" id="top-logos-trigger"><i class="icon-chevron-right"></i></a>
							<div class="top-logos-content">
								<div class="top-logos-title">
									<h4>Select a JHM Destination</h4>
								</div>
								<div class="top-logos-items">
									<div class="top-logos-item clearfix">
										<div class="top-logos-item-image">
											<a href="https://www.getv.org/" target="_blank"><img src="/images/getv-logo.png" alt="GETV" /></a>
										</div>
										<div class="top-logos-item-desc">
											<a href="https://www.getv.org/" target="_blank">GETV Live Stream</a>
											<span class="top-logos-item-price">24/7 live streaming of our sermons.</span>
										</div>
									</div>
									<div class="top-logos-item clearfix">
										<div class="top-logos-item-image">
											<a href="http://www.sacornerstone.org/" target="_blank"><img src="/images/cornerstone-church.png" alt="Cornerstone Church" /></a>
										</div>
										<div class="top-logos-item-desc">
											<a href="http://www.sacornerstone.org/" target="_blank">Cornerstone Church</a>
											<span class="top-logos-item-price">John Hagee Ministries.</span>
										</div>
									</div>
                                    <div class="top-logos-item clearfix">
										<div class="top-logos-item-image">
											<a href="http://www.differencemedia.org/" target="_blank"><img src="/images/difference-media.png" alt="Difference Media" /></a>
										</div>
										<div class="top-logos-item-desc">
											<a href="http://www.differencemedia.org/" target="_blank">Difference Media</a>
											<span class="top-logos-item-price">24/7 live streaming of our sermons.</span>
										</div>
									</div>
                                    <div class="top-logos-item clearfix">
										<div class="top-logos-item-image">
											<a href="http://www.sa-ccs.org/home/" target="_blank"><img src="/images/christian-logo.png" alt="Cornerstone School" /></a>
										</div>
										<div class="top-logos-item-desc">
											<a href="http://www.sa-ccs.org/home/" target="_blank">Cornerstone School</a>
											<span class="top-logos-item-price">Spiritual & Educational Instruction.</span>
										</div>
									</div>
								</div>
								
							</div>
						</div><!-- #top-logos end -->
                    
                    
                    <!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.php" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="/images/logo-dark.png" alt="JHM"></a>
						<a href="index.php" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="/images/logo@2x.png" alt="JHM"></a>
					</div><!-- #logo end -->

				
				
				


					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="dark">
                    	<ul>
							<li><a href="index.php"><div>Home</div></a></li>
                            <li><a href="#"><div>About</div></a>
                                <ul>
                                    <li><a href="about-jhm.php"><div>About JHM</div></a></li>
                                    <li><a href="beliefs.php"><div>Beliefs</div></a></li>
                                    <li><a href="support-israel.php"><div>Support Israel</div></a></li>
                                    <li><a href="the-difference.php"><div>The Difference</div></a></li>
                                    <li><a href="faqs.php"><div>FAQs</div></a></li>
                                    <li><a href="#"><div>Partner</div></a></li>
                                </ul>
                            </li>
                            <li><a href="index.php"><div>Events</div></a></li>
                            <li><a href="index.php"><div>Prayer</div></a></li>
                            <li><a href="index.php"><div>Media</div></a></li>
                            <li><a href="index.php"><div>Shop</div></a></li>
                            <li><a href="index.php"><div>Donate</div></a></li>
                           <li><a href="contact.php"><div>Contact</div></a></li> 
                        </ul>

						
                        
                        
						<!-- Top Cart
						============================================= -->
						<div id="top-cart">
							<a href="#" id="top-cart-trigger"><i class="icon-shopping-cart"></i><span>2</span></a>
							<div class="top-cart-content">
								<div class="top-cart-title">
									<h4>Shopping Cart</h4>
								</div>
								<div class="top-cart-items">
									<div class="top-cart-item clearfix">
										<div class="top-cart-item-image">
											<a href="#"><img src="/images/four-moons2.jpg" alt="Four Blood Moons" /></a>
										</div>
										<div class="top-cart-item-desc">
											<a href="#">Four Blood Moons</a>
											<span class="top-cart-item-price">$19.99</span>
											<span class="top-cart-item-quantity">x 1</span>
										</div>
									</div>
									<div class="top-cart-item clearfix">
										<div class="top-cart-item-image">
											<a href="#"><img src="/images/four-moons2.jpg" alt="Four Blood Moons" /></a>
										</div>
										<div class="top-cart-item-desc">
											<a href="#">Four Blood Moons</a>
											<span class="top-cart-item-price">$19.99</span>
											<span class="top-cart-item-quantity">x 1</span>
										</div>
									</div>
								</div>
								<div class="top-cart-action clearfix">
									<span class="fleft top-checkout-price">$39.98</span>
									<button class="button button-3d button-small nomargin fright">View Cart</button>
								</div>
							</div>
						</div><!-- #top-cart end -->
                        
						<!-- Top Search
						============================================= -->
						<div id="top-search">
							<a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
							<form action="search.html" method="get">
								<input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
							</form>
						</div><!-- #top-search end -->

						<div id="side-panel-trigger" class="side-panel-trigger"><a href="#"><i class="icon-reorder"></i></a></div>

                    </nav><!-- #primary-menu end -->
					
				</div>

			</div>

		</header><!-- #header end -->
<!-- Page Sub Menu
		============================================= -->
		<div id="page-menu">

			<div id="page-menu-wrap">

				

					

					<nav>
						<ul>
							<li class="current"><a href="#">link</a></li>
							<li><a href="#">link</a></li>
							<li><a href="#">link</a></li>
							<li><a href="#">link</a></li>
							<li><a href="#">link</a></li>
							<li><a href="#">link</a></li>
							<li><a href="#">link</a></li>
						</ul>
					</nav>

				<div id="page-submenu-trigger"><i class="icon-reorder"></i></div>

				

			</div>

		</div><!-- #page-menu end -->
