﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div class="section parallax noborder nomargin nopadding topmargin-sm bottommargin-sm">
    <div class="container center clearfix">
        <div data-animate="fadeIn" class="heading-block noborder topmargin bottommargin-xsm">
            <h2 data-animate="fadeIn">Our Mission</h2>
            <p class="lead">Fulfill the commission that Jesus Christ gave to His followers to go into the world and make disciples of all people. Our purpose is to bring the lost to Jesus Christ and to build up and encourage those who are already believers. We pledge to our viewers & supporters to take...</p>
            <div class="col_half col_respon-nomargin bottommargin-xsm">
                <img class="ri" src="/images/jhm-mission-text1.png" alt="JHM mission">
            </div>
            <div class="col_half col_respon col_last bottommargin-xsm">
                <img class="ri" src="/images/jhm-mission-text2.png" alt="JHM mission">
            </div>
			
			<div class="col_half col_respon-nomargin bottommargin-xsm">
                <img class="ri" src="/images/john-hagee-sig.png" alt="John Hagee">
            </div>
            <div class="col_half col_respon col_last bottommargin-xsm">
                <img class="ri" src="/images/matt-hagee-sig.png" alt="Matthew Hagee">
            </div>
       </div>
		<a href="whoweare.php" data-animate="fadeIn" class="button button-3d button-large bottommargin">More About JHM</a>
    </div>
</div>