﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
 <div class="section parallax notopborder nobottompadding notoppadding nomargin dark" style="background-image: url('/images/newjhm_ShopBG.jpg'); background-color: #000000;" data-stellar-background-ratio="0.3">
    <div class="container center clearfix">
        <div class="slider-caption slider-caption-center bottommargin topmargin">
            <h2 data-animate="fadeIn">Shop JHM</h2>
            <p data-animate="fadeIn" class="lead">With a large variety of books, audio books, and CD’s Shop John Hagee is the perfect place to discover something more.</p>
            <a href="#" data-animate="fadeIn" class="button button-3d button-large">Shop Now</a>
        </div>
    </div>
</div>