﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div id="primary-menu-trigger"></div>

<!-- Top logos
    ============================================= -->
    <div id="top-logos" class="dark">
        <a href="#" id="top-logos-trigger"><i class="icon-chevron-right"></i></a>
        <div class="top-logos-content">
            <div class="top-logos-title">
                <h4>Select a JHM Destination</h4>
            </div>
            <div class="top-logos-items">
                <div class="top-logos-item clearfix">
                    <div class="top-logos-item-image">
                        <a href="https://www.getv.org/" target="_blank"><img src="/images/getv-logo.png" alt="GETV" /></a>
                    </div>
                    <div class="top-logos-item-desc">
                        <a href="https://www.getv.org/" target="_blank">GETV Live Stream</a>
                        <span class="top-logos-item-price">24/7 live streaming of our sermons.</span>
                    </div>
                </div>
                <div class="top-logos-item clearfix">
                    <div class="top-logos-item-image">
                        <a href="http://www.sacornerstone.org/" target="_blank"><img src="/images/cornerstone-church.png" alt="Cornerstone Church" /></a>
                    </div>
                    <div class="top-logos-item-desc">
                        <a href="http://www.sacornerstone.org/" target="_blank">Cornerstone Church</a>
                        <span class="top-logos-item-price">John Hagee Ministries.</span>
                    </div>
                </div>
                <div class="top-logos-item clearfix">
                    <div class="top-logos-item-image">
                        <a href="http://www.differencemedia.org/" target="_blank"><img src="/images/difference-media.png" alt="Difference Media" /></a>
                    </div>
                    <div class="top-logos-item-desc">
                        <a href="http://www.differencemedia.org/" target="_blank">Difference Media</a>
                        <span class="top-logos-item-price">24/7 live streaming of our sermons.</span>
                    </div>
                </div>
                <div class="top-logos-item clearfix">
                    <div class="top-logos-item-image">
                        <a href="http://www.sa-ccs.org/home/" target="_blank"><img src="/images/christian-logo.png" alt="Cornerstone School" /></a>
                    </div>
                    <div class="top-logos-item-desc">
                        <a href="http://www.sa-ccs.org/home/" target="_blank">Cornerstone School</a>
                        <span class="top-logos-item-price">Spiritual & Educational Instruction.</span>
                    </div>
                </div>
            </div>
            
        </div>
    </div><!-- #top-logos end -->


<!-- Logo
============================================= -->
<div id="logo">
    <a href="index.php" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="/images/logo-dark.png" alt="JHM"></a>
    <a href="index.php" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="/images/logo@2x.png" alt="JHM"></a>
</div><!-- #logo end -->