﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div id="slider" class="dt-slider clearfix dark" style="background-image: url('/images/daily-truth-background.jpg'); " data-stellar-background-ratio="0.3">
    <div class="container clearfix bottompadding-lg">
        <div class="slider-caption slider-caption-center bottommargin">
            <img data-animate="fadeIn" src="/images/daily-logo.png" alt="Daily Truth" class="" style="width:300px;">
        </div>
    </div>
</div>

<?php
    $current_month = date('n');
    $current_year = date('Y');
?>
<div class="gl-filters event-filters">
  <div class="dt-filters-inner">
      <div class="dt-filters-custom">
        <a class="filter-button filter-button-left closed" rel="#filter-date" href="#">This Week<span class="icon icon-down-arrow"></span></a>
        <a class="filter-button filter-button-right filter-button-dark closed" rel="#filter-type" href="#">All Types<span class="icon icon-down-arrow"></span></a>
        <ul id="filter-date" class="filter-dropdown filter-dropdown-left">
            <li><a href="#">This Week</a></li>
            <div id="gl-cal">
                <?= draw_calendar($current_month, $current_year); ?>
            </div>
        </ul>
        <ul id="filter-type" class="filter-dropdown filter-dropdown-right filter-dropdown-dark">
            <li><a href="#">All</a>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
        </ul>
      </div>
    <form class="dt-search">
      <input type="text" class="dt-search-text" placeholder="Enter search terms" />
      <input type="submit" class="dt-search-button" value="Search" />
    </form>
  </div>
</div>