﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div class="section parallax nomargin notopborder nobottompadding dark" style="background-image: url('/images/pastor-john-hagee.jpg'); background-color: #000000; padding-top:50px;" data-stellar-background-ratio="0.3">
	<div class="container center clearfix">

       <div class="johnsig bottommargin-sm">
			<img data-animate="fadeIn" src="/images/john-hagee-signature.png" alt="Pastor John Hagee"> 
            <div class="slider-caption slider-caption-right">
                <p data-animate="fadeIn" class="leadrt hidden-xs">Pastor John C. Hagee is the founder and Sr. Pastor of Cornerstone Church in San Antonio, Texas, a non-denominational evangelical church with over 20,000 active members.</p>
                <a href="whoweare.php" data-animate="fadeIn" class="button button-3d button-large">About John Hagee</a>
            </div>
		</div>
    </div>
</div>