﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<?php

require_once('phpmailer/class.phpmailer.php');

$mail = new PHPMailer();

if( isset( $_POST['template-contactform-submit'] ) AND $_POST['template-contactform-submit'] == 'submit' ) {
	if( $_POST['template-contactform-name'] != '' AND $_POST['template-contactform-email'] != '' AND $_POST['template-contactform-message'] != '' ) {

		$name = $_POST['template-contactform-name'];
		$email = $_POST['template-contactform-email'];
		$phone = $_POST['template-contactform-phone'];
		$service = $_POST['template-contactform-service'];
		$subject = $_POST['template-contactform-subject'];
		$message = $_POST['template-contactform-message'];

		$subject = isset($subject) ? $subject : 'New Message From Contact Form';

		$botcheck = $_POST['template-contactform-botcheck'];

		$toemail = 'username@email.com'; // Your Email Address
		$toname = 'Your Name'; // Your Name

		require_once('recaptchalib.php');
		$privatekey = "yourprivatekey";
		$resp = recaptcha_check_answer($privatekey,
									$_SERVER["REMOTE_ADDR"],
									$_POST["recaptcha_challenge_field"],
									$_POST["recaptcha_response_field"]);

		if (!$resp->is_valid) {
			echo 'Incorrect Captcha.! Please try again..';
		} else {
			if( $botcheck == '' ) {

				$mail->SetFrom( $email , $name );
				$mail->AddReplyTo( $email , $name );
				$mail->AddAddress( $toemail , $toname );
				$mail->Subject = $subject;

				$name = isset($name) ? "Name: $name<br><br>" : '';
				$email = isset($email) ? "Email: $email<br><br>" : '';
				$phone = isset($phone) ? "Phone: $phone<br><br>" : '';
				$service = isset($service) ? "Service: $service<br><br>" : '';
				$message = isset($message) ? "Message: $message<br><br>" : '';

				$referrer = $_SERVER['HTTP_REFERER'] ? '<br><br><br>This Form was submitted from: ' . $_SERVER['HTTP_REFERER'] : '';

				$body = "$name $email $phone $service $message $referrer";

				$mail->MsgHTML( $body );
				$sendEmail = $mail->Send();

				if( $sendEmail == true ):
					echo 'We have <strong>successfully</strong> received your Message and will get Back to you as soon as possible.';
				else:
					echo 'Email <strong>could not</strong> be sent due to some Unexpected Error. Please Try Again later.<br /><br /><strong>Reason:</strong><br />' . $mail->ErrorInfo . '';
				endif;
			} else {
				echo 'Bot <strong>Detected</strong>.! Clean yourself Botster.!';
			}
		}
	} else {
		echo 'Please <strong>Fill up</strong> all the Fields and Try Again.';
	}
} else {
	echo 'An <strong>unexpected error</strong> occured. Please Try Again later.';
}

?>