﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "JHMStandardWebpageTemplate.cshtml";
}
@section main_content{
    <!-- Page Header
       ============================================= -->
    <div id="slider" class="parallax clearfix dark" style="background-image: url('/images/careers-background.jpg'); " data-stellar-background-ratio="0.3">
    <div class="container clearfix bottompadding-xlg">
        <div data-animate="fadeIn" class="slider-caption slider-caption-center bottommargin">
            <img src="/images/spine-logo-jgm.png" alt="John Hagee Ministries" class="" style="width:240px;">
            <p>@Umbraco.Field("careerBannerText")</p>
        </div>
    </div>
</div>

    <!-- Page Title
    ============================================= -->
    <section id="page-title" class="page-title-mini">
        <div class="container clearfix">
            <ol class="breadcrumb">
                <li><a href="/"><i class="icon-home2"></i></a></li>
                <li><a href="#">About</a></li>
                <li class="active">Careers</li>
            </ol>
        </div>
    </section><!-- #page-title end -->
    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap noborder topmargin nobottommargin nopadding">

            <div data-animate="fadeIn" class="container bottommargin clearfix">
                <div><h2 class="tcolorgold jobs">John Hagee Ministries Open Positions</h2></div>

                @{
                    var page = Umbraco.Content(UmbracoContext.PageId.GetValueOrDefault());
                    var selection = page.AncestorOrSelf(1).Descendants("Career").Where("Visible"); 
                 }

                @foreach (var item in selection)
                {
                    <div class="fancy-title title-bottom-border">
                        <h3>@item.careerTitle</h3>
                    </div>

                    @item.careerShortDescription

                    <div class="accordion accordion-bg clearfix">
                        <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Requirements</div>
                        <div class="acc_content clearfix">
                            <ul class="iconlist iconlist-color nobottommargin">
                                @foreach (string strItem in item.careerRequirements.Split(Environment.NewLine.ToCharArray()))
                                {
                                    <li><i class="icon-ok"></i>@strItem</li>
                                }
                            </ul>
                        </div>
                        <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>What we expect from you</div>
                        <div class="acc_content clearfix">
                            <ul class="iconlist iconlist-color nobottommargin">
                                @foreach (string strItem in item.careerExpectations.Split(Environment.NewLine.ToCharArray()))
                                {
                                    <li><i class="icon-ok"></i>@strItem</li>
                                }
                            </ul>
                        </div>
                        <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>What you can offer</div>
                        <div class="acc_content clearfix">@item.careerWhatYouCanOffer</div>
                    </div>

                    <a href="#" class="button button-3d nomargin">Apply Now</a>

                    <div class="line-short"></div>

                }

            </div>
        </div>
        <div class="clear"></div>

    </section><!-- #content end -->
}