﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "JHMStandardWebpageTemplate.cshtml";
}
@section main_content{
    @{

       int intItemID = Convert.ToInt32(Request["id"]);


    }
    @*<div id="slider" class="dt-single clearfix dark" data-stellar-background-ratio="0.3">
        <div class="container clearfix bottompadding-md">
            <a href="/daily-truth" class="daily-truth-return">Return</a>
            <div class="slider-caption slider-caption-center bottommargin">
                <img data-animate="fadeIn" src="/images/daily-logo.png" alt="Daily Truth" class="" style="width:300px;">
            </div>
        </div>
    </div>*@

    <!-- Page Title
        ============================================= -->
    <section id="page-title" class="page-title-mini">
        <div class="container clearfix">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="#">Encouragement</a></li>
                <li class="active blue-text">Daily #Truth</li>
            </ol>
        </div>
    </section><!-- #page-title end -->

    <!-- Selections
    ============================================= -->
    <section id="content">
        <div class="container clearfix">
        </div>
        <!-- selections end -->
        <!-- Content
        ============================================= -->

        <div class="section noborder notopmargin nobottommargin toppadding-sm">

            @{
               
                    var page = Umbraco.Content(1095);
                    var selection = page.AncestorOrSelf(1).Descendants("DailyTruth").Where("Visible").Where("Id == @0", intItemID);

                    foreach (var item in selection)
                    {

                        if (item.dailyTruthPostType == "Blog")
                        {
                            @* start blog *@
                            <!-- Blog Post
                            ============================================= -->
                            <div data-animate="fadeIn" class="container clearfix border-full bottommargin">
                                <div class="entry-content">
                                    <div class="entry-title topmargin-xsm dt-single-title">
                                        <div class="col_half nobottommargin col_respon">
                                            <h3 class="daily"><a class="blue-text" href="daily-truth-single-blog.php">@item.dailyTruthTitle</a><span>@item.dailyTruthSubTitle</span></h3>
                                        </div>

                                        <div class="col_half fright col_last nobottommargin col_respon">


                                            @{
                            if (item.dailyTruthType == "Christian Music")
                            {
                                <img src="/images/daily-truth/blog-post.gif" alt="@item.dailyTruthType" />
                            }
                            else if (item.dailyTruthType == "Quote")
                            {
                                <img src="/images/daily-truth/quote.gif" alt="@item.dailyTruthType" />
                            }
                            else if (item.dailyTruthType == "Bible Verse")
                            {
                                <img src="/images/daily-truth/bible-verse.gif" alt="@item.dailyTruthType" />
                            }
                            else
                            {
                                <img src="/images/daily-truth/blog-post.gif" alt="@item.dailyTruthType" />
                            }

                                            }


                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="dt-single-content clearfix entry">
                                    <a href="daily-truth-single-blog.php"><img src="@Umbraco.Media((int)item.dailyTruthImageUpload).Url" class="fleft rightmargin-sm" /></a>
                                    @item.dailyTruthArticle
                                    <div class="dt-single-social dt-single-center">
                                        <div class="si-share">
                                            <div>
                                                <span>Share:</span>
                                                <a href="#" class="social-icon si-borderless si-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                                    <i class="icon-facebook"></i>
                                                    <i class="icon-facebook"></i>
                                                </a>
                                                <a href="#" class="social-icon si-borderless si-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                                    <i class="icon-twitter"></i>
                                                    <i class="icon-twitter"></i>
                                                </a>
                                                <a href="#" class="social-icon si-borderless si-pinterest" data-toggle="tooltip" data-placement="top" title="Pinterst">
                                                    <i class="icon-pinterest"></i>
                                                    <i class="icon-pinterest"></i>
                                                </a>
                                                <a href="#" class="social-icon si-borderless si-vimeo" data-toggle="tooltip" data-placement="top" title="Vimeo">
                                                    <i class="icon-vimeo"></i>
                                                    <i class="icon-vimeo"></i>
                                                </a>
                                                <a href="#" class="social-icon si-borderless si-instagram" data-toggle="tooltip" data-placement="top" title="Instagram">
                                                    <i class="icon-instagram"></i>
                                                    <i class="icon-instagram"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            @* end blog *@
                        }
                        else
                        {
                            @* start quote post *@

                            <!-- Bible Verse
                            ============================================= -->
                            <div data-animate="fadeIn" class="container clearfix border-full bottommargin">
                                <div class="entry-content">
                                    <div class="entry-title topmargin-xsm dt-single-title">
                                        <div class="col_half nobottommargin col_respon">
                                            <h3 class="daily blue-text"><a class="blue-text" href="daily-truth-single-blog.php">Psalm 91:15-16</a></h3>
                                        </div>

                                        <div class="col_half fright col_last nobottommargin col_respon">
                                            @{
                            if (item.dailyTruthType == "Christian Music")
                            {
                                <img src="/images/daily-truth/blog-post.gif" alt="@item.dailyTruthType" />
                            }
                            else if (item.dailyTruthType == "Quote")
                            {
                                <img src="/images/daily-truth/quote.gif" alt="@item.dailyTruthType" />
                            }
                            else if (item.dailyTruthType == "Bible Verse")
                            {
                                <img src="/images/daily-truth/bible-verse.gif" alt="@item.dailyTruthType" />
                            }
                            else
                            {
                                <img src="/images/daily-truth/blog-post.gif" alt="@item.dailyTruthType" />
                            }
                                            }

                                        </div>
                                    </div>
                                </div>

                                <div class="clear"></div>

                                <div class="dt-single-content dt-single-center clearfix entry">
                                    <a href="daily-truth-single-blog.php">@Umbraco.Media((int)item.dailyTruthImageUpload).Url</a>
                                    <blockquote>
                                        @item.dailyTruthArticle
                                    </blockquote>
                                    <div class="dt-single-social">
                                        <div class="si-share">
                                            <div>
                                                <span>Share:</span>
                                                <a href="#" class="social-icon si-borderless si-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                                    <i class="icon-facebook"></i>
                                                    <i class="icon-facebook"></i>
                                                </a>
                                                <a href="#" class="social-icon si-borderless si-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                                    <i class="icon-twitter"></i>
                                                    <i class="icon-twitter"></i>
                                                </a>
                                                <a href="#" class="social-icon si-borderless si-pinterest" data-toggle="tooltip" data-placement="top" title="Pinterst">
                                                    <i class="icon-pinterest"></i>
                                                    <i class="icon-pinterest"></i>
                                                </a>
                                                <a href="#" class="social-icon si-borderless si-vimeo" data-toggle="tooltip" data-placement="top" title="Vimeo">
                                                    <i class="icon-vimeo"></i>
                                                    <i class="icon-vimeo"></i>
                                                </a>
                                                <a href="#" class="social-icon si-borderless si-instagram" data-toggle="tooltip" data-placement="top" title="Instagram">
                                                    <i class="icon-instagram"></i>
                                                    <i class="icon-instagram"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- Daily Truths end -->
                            </div>

                            @* end quote post *@
                        }

                        <br />


                    }

                  

            }
















        </div>
    </section>

    <div class="clear"></div>


}