﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "JHMStandardWebpageTemplate.cshtml";
}
@section main_content{

    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery(document).on("click", '.load-cal', function (e) {
                e.preventDefault();
                jQuery('#gl-cal').load(jQuery(this).attr('href'));
            });
            //show filter on click
            jQuery('.filter-button').click(function (e) {
                e.preventDefault();
                if (jQuery(this).hasClass('closed')) {
                    jQuery('.filter-dropdown').hide();
                    jQuery(this.rel).slideDown(200);
                    jQuery(this).toggleClass('closed open');
                } else {
                    jQuery(this.rel).slideUp(200);
                    jQuery(this).toggleClass('closed open');
                }
            });
        });
    </script>

    <div id="slider" class="dt-slider clearfix dark" style="background-image: url('@Umbraco.Field("pageBannerImageLarge")');">
        <div class="container clearfix bottompadding-md">
            <div class="slider-caption slider-caption-center bottommargin-sm">
                <img data-animate="fadeIn" src="/images/daily-logo.png" alt="Daily Truth" class="" style="width:300px;">
            </div>
        </div>
    </div>

    @*<?php
            $current_month = date('n');
            $current_year = date('Y');
        ?>*@
    @*<div class="gl-filters event-filters">
        <div class="dt-filters-inner">
            <div class="dt-filters-custom">
                <a class="filter-button filter-button-left closed" rel="#filter-date" href="#">This Week<span class="icon icon-down-arrow"></span></a>
                <a class="filter-button filter-button-right filter-button-dark closed" rel="#filter-type" href="#">All Types<span class="icon icon-down-arrow"></span></a>
                <ul id="filter-date" class="filter-dropdown filter-dropdown-left">
                    <li><a href="#">This Week</a></li>
                    <div id="gl-cal">
                       calendar
                    </div>
                </ul>
                <ul id="filter-type" class="filter-dropdown filter-dropdown-right filter-dropdown-dark">
                    <li><a href="#">All</a>
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                </ul>
            </div>
            <form class="dt-search">
                <input type="text" class="dt-search-text" placeholder="Enter search terms" />
                <input type="submit" class="dt-search-button" value="Search" />
            </form>
        </div>
    </div>*@


    <!-- Page Title
    ============================================= -->
    <section id="page-title" class="page-title-mini">
        <div class="container clearfix">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="#">Encouragement</a></li>
                <li class="active blue-text">Daily #Truth</li>
            </ol>
        </div>
    </section><!-- #page-title end -->
    <!-- Selections
    ============================================= -->
    <section id="content">
        <div class="container clearfix">

        </div>
        <!-- selections end -->
        <!-- Content
        ============================================= -->


        <div class="section noborder notopmargin nobottommargin toppadding">




            @{

                DateTime dtCurrentDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day);

                do
                {

                    <div data-animate="fadeIn" class="container clearfix border-full bottommargin">
                        <div class="entry-content">
                            <div class="entry-title topmargin-xsm">
                                <div class="col_half nobottommargin col_respon">
                                    <h3 class="daily"><a href="/daily-truth/day-view/?date=@dtCurrentDate.ToShortDateString()">@dtCurrentDate.ToLongDateString()</a></h3>
                                </div>

                                <div class="col_half fright col_last nobottommargin col_respon">
                                    <div class="si-share">
                                        <div>
                                            <span>Share:</span>
                                            <a href="#" class="social-icon si-borderless si-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                                <i class="icon-facebook"></i>
                                                <i class="icon-facebook"></i>
                                            </a>
                                            <a href="#" class="social-icon si-borderless si-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                                <i class="icon-twitter"></i>
                                                <i class="icon-twitter"></i>
                                            </a>
                                            <a href="#" class="social-icon si-borderless si-pinterest" data-toggle="tooltip" data-placement="top" title="Pinterst">
                                                <i class="icon-pinterest"></i>
                                                <i class="icon-pinterest"></i>
                                            </a>
                                            <a href="#" class="social-icon si-borderless si-vimeo" data-toggle="tooltip" data-placement="top" title="Vimeo">
                                                <i class="icon-vimeo"></i>
                                                <i class="icon-vimeo"></i>
                                            </a>
                                            <a href="#" class="social-icon si-borderless si-instagram" data-toggle="tooltip" data-placement="top" title="Instagram">
                                                <i class="icon-instagram"></i>
                                                <i class="icon-instagram"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clear"></div>

                        <!-- Daily Truths
                        ============================================= -->
                        <div id="posts" class="post-grid post-masonry grid-3 clearfix">

                            @{
                    var page = Umbraco.Content(UmbracoContext.PageId.GetValueOrDefault());
                    var selection = page.AncestorOrSelf(1).Descendants("DailyTruth").Where("Visible").Where("date == @0", dtCurrentDate); 
                    
                    }


                            @foreach (var item in selection)
                            {
                                <div class="entry clearfix nobottommargin">
                                    <div class="entry-image nobottommargin">
                                        <div class="panel panel-default">
                                            <i class="i-plain icon-music2 leftmargin-xsm"></i>
                                            <h3 class="topmargin-xsm">@item.dailyTruthTitle</h3>
                                            <div class="panel-body">
                                                <a href="/daily-truth/day-view/?date=@dtCurrentDate.ToShortDateString()"><img src="@Umbraco.Media((int)item.dailyTruthImageUpload).Url" alt="@item.dailyTruthTitle"></a>
                                                <h3 class="topmargin-xsm"><a class="blue-text" href="/daily-truth/day-view/?date=@dtCurrentDate.ToShortDateString()">Held</a></h3>
                                                <h5 class="bottommargin-xsm">@item.dailyTruthSubTitle</h5>
                                                @item.dailyTruthShortDescription
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div><!-- Daily Truths end -->
                    </div>

                   dtCurrentDate = dtCurrentDate.AddDays(-1);

                } while (dtCurrentDate >= DateTime.Now.AddDays(-7));

            }












        </div>
    </section>

    <div class="clear"></div>
}