﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "JHMStandardWebpageTemplate.cshtml";
}
@section main_content{

@{
    var intPageID = Convert.ToInt32(Request["id"]);
    var page = Umbraco.Content(intPageID);
}
    
<!-- Page Title
        ============================================= -->
    <section id="page-title" class="page-title-mini">

        <div class="container clearfix">
            <ol class="breadcrumb">
                <li><a href="/"><i class="icon-home2"></i></a></li>
                <li><a href="/events">Events</a></li>
                <li class="active">@page.eventTitle</li>
            </ol>
        </div>

    </section><!-- #page-title end -->
    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="section noborder notopmargin nobottommargin break-early nobottompadding">

            <div class="container clearfix">
                <a href="/events" class="button button-3d bottommargin-sm">Events</a>

                <!-- Post Content
                ============================================= -->

                <div data-animate="fadeIn" class="team team-list clearfix">
                    <div class="team-image">
                        <img src="@Umbraco.Media(page.eventImage).Url" alt="@page.eventTitle">
                    </div>
                    <div class="team-desc">
                        <div class="col_two_third nobottommargin col_respon">
                            <div class="team-title"><h3 class="nobottommargin name">@page.eventTitle</h3><span>@page.eventStartDate.ToLongDateString()</span></div>
                        </div>
                        <div class="col_one_third col_last nobottommargin col_respon fright">
                            <a href="#" class="social-icon si-small si-borderless si-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>
                            <a href="#" class="social-icon si-small si-borderless si-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>
                            <a href="#" class="social-icon si-small si-borderless si-pinterest" data-toggle="tooltip" data-placement="top" title="Pinterst">
                                <i class="icon-pinterest"></i>
                                <i class="icon-pinterest"></i>
                            </a>
                            <a href="#" class="social-icon si-small si-borderless si-vimeo" data-toggle="tooltip" data-placement="top" title="Vimeo">
                                <i class="icon-vimeo"></i>
                                <i class="icon-vimeo"></i>
                            </a>
                            <a href="#" class="social-icon si-small si-borderless si-instagram" data-toggle="tooltip" data-placement="top" title="Instagram">
                                <i class="icon-instagram"></i>
                                <i class="icon-instagram"></i>
                            </a>
                        </div>

                        <div class="line-short topmargin-xsm bottommargin-xsm"></div>
                        <div class="team-content">
                            @page.eventDescription
                        </div>
                    </div>
                </div>
                <div class="line topmargin-xsm bottommargin-sm"></div>

            </div>

            <div class="container clearfix">
                <!-- Post Content
                          ============================================= -->

                <div class="col_one_fourth">
                    <div class="feature-box fbox-center fbox-plain noborder">
                        <div class="fbox-icon">
                            <i class="icon-line-paper tcolorgold"></i>
                        </div>
                        <h3>Details</h3>
                        <div class="text-left leftmargin topmargin-sm">
                            <ul class="iconlist nobottommargin">
                                <li><i class="icon-calendar3"></i> <strong>Date:</strong> @page.eventStartDate.ToLongDateString()</li>
                                <li><i class="icon-time"></i> <strong>Start Time:</strong> @page.eventStartTime</li>
                                <li><i class="icon-time"></i> <strong>End Time:</strong> @page.eventEndTime</li>

                                @if(page.eventChildrenWelcome){
                                <li><strong>Children are welcome</strong> </li>
                                    }
                                    
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col_one_fourth">
                    <div class="feature-box fbox-center fbox-plain noborder">
                        <div class="fbox-icon">
                            <i class="icon-line-flag tcolorgold"></i>
                        </div>
                        <h3>Venue</h3>
                        <div class="text-left leftmargin topmargin-sm">
                            <ul class="iconlist nobottommargin">
                                <li><i class="icon-line-location"></i> <strong>Place:</strong> @page.eventVenueName</li>
                                <li><i class="icon-map-marker2"></i> <strong>Address:</strong> @page.eventVenueAddressLine1, @page.eventVenueCity, @page.eventVenueState @page.eventVenueZip</li>
                                <li><i class="icon-phone3"></i> <strong>Phone:</strong> @page.eventVenuePhone</li>
                                <li><i class="icon-mail"></i> <strong>Email:</strong> <a href="mailto:@page.eventVenueEmail">@page.eventVenueEmail</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col_one_fourth">
                    <div class="feature-box fbox-center fbox-plain noborder">
                        <div class="fbox-icon">
                            <i class="icon-line2-info tcolorgold"></i>
                        </div>
                        <h3>Organizer</h3>
                        <div class="text-left leftmargin topmargin-sm">
                            <ul class="iconlist nobottommargin">
                                <li><i class="icon-line-location"></i> <strong>Place:</strong> @page.eventOrganizerName</li>
                                <li><i class="icon-phone3"></i> <strong>Phone:</strong> @page.eventOrganizerPhone</li>
                                <li><i class="icon-mail"></i> <strong>Email:</strong> <a href="mailto:@page.eventOrganizerEmail">@page.eventOrganizerEmail</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col_one_fourth col_last">
                    <div class="feature-box fbox-center fbox-plain noborder">
                        <div class="fbox-icon">
                            <i class="icon-ticket tcolorgold"></i>
                        </div>
                        <h3>Admission</h3>
                        <div class="text-left leftmargin topmargin-sm">
                            <ul class="iconlist nobottommargin">
                                <li><i class="icon-dollar"></i> <strong>Cost:</strong> @page.eventAdmissionFee</li>
                                <li><i class="icon-ticket"></i> <strong>Ticket Registration:</strong> <a href="@page.eventAdmissionPurchaseUrl">buyticketswithus.com</a></li>
                                <li><i class="icon-phone3"></i> <strong>Register by Phone:</strong> @page.eventAdmissionPurchasePhone</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="line topmargin-xsm bottommargin-sm"></div>
            </div>

            <div class="container clearfix bottommargin-sm">

                @{
                    var lat = page.eventVenueMap.Latitude;
                    var lng = page.eventVenueMap.Longitude;
                    var zoom = page.eventVenueMap.Zoom;
                }

                <!-- Google Map
                ============================================= -->
                <div id="google-map" class="gmap" style="margin-bottom: 20px;"></div>
                <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
                <script type="text/javascript" src="/js/jquery.gmap.js"></script>

                <script type="text/javascript">

                    $(document).ready(function () {

                        $('#google-map').gMap({

                            address: '@page.eventVenueAddressLine1, @page.eventVenueCity, @page.eventVenueState @page.eventVenueZip',
                            maptype: 'ROADMAP',
                            zoom: @zoom,

                            markers: [
                                    {
                                        latitude: @lat,
                                        longitude: @lng,
                                    },

                                                        {
                                                            address: "@page.eventVenueAddressLine1, @page.eventVenueCity, @page.eventVenueState @page.eventVenueZip",
                                                            icon: {
                                                                image: "images/gmap_pin_grey.png",
                                                                html: "@page.eventVenueName",
                                                                iconsize: [26, 46],
                                                                iconanchor: [12,46]
                                                            }
                                                        }
                            ],

                            doubleclickzoom: true,
                            controls: {
                                panControl: true,
                                zoomControl: true,
                                mapTypeControl: true,
                                scaleControl: true,
                                streetViewControl: true,
                                overviewMapControl: true
                            }

                        });
                    
                    });

                </script><!-- Google Map End -->

                <div class="clear"></div>



            </div>



    </section><!-- #content end -->



    }