﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "JHMStandardWebpageTemplate.cshtml";
}
@section main_content{
    @{

        var imageCrops = Newtonsoft.Json.JsonConvert.DeserializeObject<Umbraco.Web.Models.ImageCropDataSet>(Umbraco.Field("pageBannerImageLarge").ToString());
        if (imageCrops != null)
        {
            var myImageUrl = imageCrops.Src;

            <div id="slider" class="parallax clearfix dark" style="background-image: url('@myImageUrl'); " data-stellar-background-ratio="0.3">
                <div class="container clearfix bottompadding-xlg">
                    <div class="slider-caption slider-caption-center bottommargin">
                        <h3 data-animate="fadeIn">@Umbraco.Field("pageBannerTextFirstLine")</h3>
                        <p data-animate="fadeIn" class="lead">@Umbraco.Field("pageBannerTextSecondLine")</p>
                    </div>
                </div>
            </div>
        }

    }

<!-- Page Header
    ============================================= -->
<section id="content">
    <div class="section nomargin toppadding-md nobottompadding">
        @*<?php
                $current_month = date('n');
                $current_year = date('Y');
            ?>
            <div class="gl-filters2 event-filters">
              <div class="dt-filters-inner">
                  <div class="dt-filters-custom">
                    <a class="filter-button-gold filter-button-left closed" rel="#filter-date" href="#">Featured<span class="icon icon-down-arrow"></span></a>
                    <a class="filter-button filter-button-right filter-button-dark closed" rel="#filter-type" href="#">All Types<span class="icon icon-down-arrow"></span></a>
                    <ul id="filter-date" class="filter-dropdown-gold filter-dropdown-left">
                        <li><a href="#">This Week</a></li>
                        <div id="gl-cal">
                            <?= draw_calendar($current_month, $current_year); ?>
                        </div>
                    </ul>
                    <ul id="filter-type" class="filter-dropdown filter-dropdown-right filter-dropdown-dark">
                        <li><a href="#">All</a>
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                    </ul>
                  </div>
                <form class="dt-search">
                  <input type="text" class="dt-search-text" placeholder="Enter search terms" />
                  <input type="submit" class="dt-search-button" value="Search" />
                </form>
              </div>
            </div>*@
        @*<div class="clear"></div>*@
        <div class="heading-block noborder bottommargin-sm">
            <h2 class="center">Featured Events</h2>
        </div>

        @{
            var page = Umbraco.Content(1108);
            var selection = page.AncestorOrSelf(1).Descendants("Event").Where("Visible"); }

        @foreach (var item in selection)
        {
            <div data-animate="fadeIn" class="container clearfix border-full bottommargin toppadding-sm">
                <!-- Post Content
                          ============================================= -->
                <div class="team team-list clearfix">
                    <div class="team-image">
                        <img src="@Umbraco.Media(item.eventImage).Url" alt="@item.eventTitle">
                    </div>
                    <div class="team-desc">
                        <div class="col_two_third nobottommargin col_respon">
                            <div class="team-title"><h3 class="nobottommargin name tcolorgold">@item.eventTitle</h3></div>
                        </div>
                        <div class="col_one_third col_last nobottommargin col_respon fright">
                            <a href="#" class="social-icon si-small si-borderless si-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>
                            <a href="#" class="social-icon si-small si-borderless si-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>
                            <a href="#" class="social-icon si-small si-borderless si-pinterest" data-toggle="tooltip" data-placement="top" title="Pinterst">
                                <i class="icon-pinterest"></i>
                                <i class="icon-pinterest"></i>
                            </a>
                            <a href="#" class="social-icon si-small si-borderless si-vimeo" data-toggle="tooltip" data-placement="top" title="Vimeo">
                                <i class="icon-vimeo"></i>
                                <i class="icon-vimeo"></i>
                            </a>
                            <a href="#" class="social-icon si-small si-borderless si-instagram" data-toggle="tooltip" data-placement="top" title="Instagram">
                                <i class="icon-instagram"></i>
                                <i class="icon-instagram"></i>
                            </a>
                        </div>
                        <div class="line-short topmargin-xsm bottommargin-xsm"></div>
                        <div class="team-content bottommargin-xsm">
                            <p>@item.eventDescription</p>
                        </div>
                        <div class="panel panel-default events-meta">
                            <div class="panel-heading">
                                <h3 class="panel-title">Event Overview</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="iconlist nobottommargin">
                                    <li><i class="icon-calendar3"></i> <strong>Date:</strong> @item.eventStartDate</li>
                                    <li><i class="icon-time"></i> <strong>Start Time:</strong> @item.eventStartTime - End Time: @item.eventEndTime</li>
                                    <li><i class="icon-map-marker2"></i> <strong>Location:</strong> @item.eventVenueName - @item.eventVenueAddressLine1, @item.eventVenueCity, @item.eventVenueState @item.eventVenueZip</li>
                                    <li><i class="icon-dollar"></i> <strong>Cost:</strong> @item.eventAdmissionFee</li>
                                </ul>
                            </div>
                        </div>
                        <a href="/events/event-description/?id=@item.Id" class="button button-3d bottommargin-sm">View Event</a>
                    </div>
                </div>
            </div>
        }

    </div>
</section><!-- #content end -->
<div class="clear"></div>

}