﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<!-- Head
    ============================================= -->
<head>
    <!-- External code
        ============================================= -->
    @Umbraco.RenderMacro("externalCode")
    <link rel="stylesheet" href="/css/responsive-tabs.css">
    <!-- Document Title
    ============================================= -->
    <title>John Hagee Ministries</title>
</head>
<body class="stretched side-panel">
    <div class="body-overlay"></div>
    <!-- Side Menu
       ============================================= -->
    @Umbraco.RenderMacro("sideMenu")
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">
        <!-- Top Bar
                ============================================= -->
        <div id="top-bar" class="hidden-xs">
            <div class="container-fluid clearfix">

                <div class="col_half nomargin fright">
                    <!-- Top Links
                    ============================================= -->
                    @Umbraco.RenderMacro("topLinks")
                </div>
                <!-- <div class="col_half fright col_last nobottommargin">

                    <!-- Top Social
                    =============================================
                    <div id="top-social">
                        <ul>
                            <li><a href="#" class="si-play"><span class="ts-icon"><i class="icon-play"></i></span><span class="ts-text">GETV</span></a></li>
                            <li><a href="#" class="si-sun"><span class="ts-icon"><i class="icon-sun"></i></span><span class="ts-text">Cornerstone Church</span></a></li>
                            <li><a href="#" class="si-facetime-video"><span class="ts-icon"><i class="icon-facetime-video"></i></span><span class="ts-text">Difference Media</span></a></li>
                            <li><a href="#" class="si-pencil2"><span class="ts-icon"><i class="icon-pencil2"></i></span><span class="ts-text">Cornerstone School</span></a></li>
                            <li><a href="#" class="si-facebook"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>
                            <li><a href="#" class="si-twitter2"><span class="ts-icon"><i class="icon-twitter2"></i></span><span class="ts-text">Twitter</span></a></li>
                            <li><a href="#" class="si-youtube"><span class="ts-icon"><i class="icon-youtube"></i></span><span class="ts-text">Youtube</span></a></li>
                            <li><a href="#" class="si-instagram"><span class="ts-icon"><i class="icon-instagram2"></i></span><span class="ts-text">Instagram</span></a></li>
                            <li><a href="#" class="si-pinterest"><span class="ts-icon"><i class="icon-pinterest2"></i></span><span class="ts-text">Pinterest</span></a></li>
                            <li><a href="#" class="si-gplus"><span class="ts-icon"><i class="icon-gplus"></i></span><span class="ts-text">Google Plus</span></a></li>
                            <li><a href="tel:1-800-854-9899" class="si-call"><span class="ts-icon"><i class="icon-call"></i></span><span class="ts-text"> 1-800-854-9899</span></a></li>
                            <li><a href="mailto:support@jhm.org" class="si-email3"><span class="ts-icon"><i class="icon-email3"></i></span><span class="ts-text">support@jhm.org</span></a></li>
                        </ul>
                    </div><!-- #top-social end

                </div> -->
            </div>
        </div> <!-- #top-bar end -->
        <!-- Header
        ============================================= -->
        @Umbraco.RenderMacro("header")
        <!-- Slider
         ============================================= -->


        <section id="slider" class="slider-parallax swiper_wrapper clearfix">

            <div class="swiper-container swiper-parent">
                @Umbraco.RenderMacro("sliderChildren")
                <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
                <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
                <div class="swiper-pagination"></div>
            </div>

            <script>
                jQuery(document).ready(function ($) {
                    var swiperSlider = new Swiper('.swiper-parent', {
                        paginationClickable: false,
                        slidesPerView: 1,
                        grabCursor: true,
                        autoplay: 5000,
                        speed: 150,
                        loop: true,
                        arrows: false,
                        onSwiperCreated: function (swiper) {
                            $('[data-caption-animate]').each(function () {
                                var $toAnimateElement = $(this);
                                var toAnimateDelay = $(this).attr('data-caption-delay');
                                var toAnimateDelayTime = 0;
                                if (toAnimateDelay) { toAnimateDelayTime = Number(toAnimateDelay) + 650; } else { toAnimateDelayTime = 650; }
                                if (!$toAnimateElement.hasClass('animated')) {
                                    $toAnimateElement.addClass('not-animated');
                                    var elementAnimation = $toAnimateElement.attr('data-caption-animate');
                                    setTimeout(function () {
                                        $toAnimateElement.removeClass('not-animated').addClass(elementAnimation + ' animated');
                                    }, toAnimateDelayTime);
                                }
                            });
                            SEMICOLON.slider.swiperSliderMenu();
                        },
                        onSlideChangeStart: function (swiper) {
                            $('#slide-number-current').html(swiper.activeLoopIndex + 1);
                            $('[data-caption-animate]').each(function () {
                                var $toAnimateElement = $(this);
                                var elementAnimation = $toAnimateElement.attr('data-caption-animate');
                                $toAnimateElement.removeClass('animated').removeClass(elementAnimation).addClass('not-animated');
                            });
                            SEMICOLON.slider.swiperSliderMenu();
                        },
                        onSlideChangeEnd: function (swiper) {
                            $('#slider').find('.swiper-slide').each(function () {
                                if ($(this).find('video').length > 0) { $(this).find('video').get(0).pause(); }
                                if ($(this).find('.yt-bg-player').length > 0) { $(this).find('.yt-bg-player').pauseYTP(); }
                            });
                            $('#slider').find('.swiper-slide:not(".swiper-slide-active")').each(function () {
                                if ($(this).find('video').length > 0) {
                                    if ($(this).find('video').get(0).currentTime != 0) $(this).find('video').get(0).currentTime = 0;
                                }
                                if ($(this).find('.yt-bg-player').length > 0) {
                                    $(this).find('.yt-bg-player').getPlayer().seekTo($(this).find('.yt-bg-player').attr('data-start'));
                                }
                            });
                            if ($('#slider').find('.swiper-slide.swiper-slide-active').find('video').length > 0) { $('#slider').find('.swiper-slide.swiper-slide-active').find('video').get(0).play(); }
                            if ($('#slider').find('.swiper-slide.swiper-slide-active').find('.yt-bg-player').length > 0) { $('#slider').find('.swiper-slide.swiper-slide-active').find('.yt-bg-player').playYTP(); }

                            $('#slider .swiper-slide.swiper-slide-active [data-caption-animate]').each(function () {
                                var $toAnimateElement = $(this);
                                var toAnimateDelay = $(this).attr('data-caption-delay');
                                var toAnimateDelayTime = 0;
                                if (toAnimateDelay) { toAnimateDelayTime = Number(toAnimateDelay) + 200; } else { toAnimateDelayTime = 200; }
                                if (!$toAnimateElement.hasClass('animated')) {
                                    $toAnimateElement.addClass('not-animated');
                                    var elementAnimation = $toAnimateElement.attr('data-caption-animate');
                                    setTimeout(function () {
                                        $toAnimateElement.removeClass('not-animated').addClass(elementAnimation + ' animated');
                                    }, toAnimateDelayTime);
                                }
                            });
                        }
                    });

                    $('#slider-arrow-left').on('click', function (e) {
                        e.preventDefault();
                        swiperSlider.swipePrev();
                    });

                    $('#slider-arrow-right').on('click', function (e) {
                        e.preventDefault();
                        swiperSlider.swipeNext();
                    });

                    $('#slide-number-current').html(swiperSlider.activeLoopIndex + 1);
                    $('#slide-number-total').html($('#slider').find('.swiper-slide:not(.swiper-slide-duplicate)').length);
                });
            </script>

        </section>

        <!-- Content
        ============================================= -->
        <section id="content">

            <!-- JHM Mission
            ============================================= -->
            @Umbraco.RenderMacro("jhmMission")
            <div class="clear"></div>

            <!-- GETV
            ============================================= -->
            @Umbraco.RenderMacro("getv")
            <div class="clear"></div>
            <div class="col_one_third col_respon nobottommargin hidden-xs">
                <div class="promo promo-dark promo-flat promo" style="background-color: #e2e2e2;">
                    <h3><a class="tcolorblue-link" href="@Umbraco.Field("largeButtonLeftURL")">@Umbraco.Field("largeButtonLeftText")</a></h3>
                </div>
            </div>
            <div class="col_one_third col_respon nobottommargin">
                <div class="promo promo-dark promo-flat promo norightpadding" style="background-color: #fff;">
                    <img src="/images/cross-icon.png" alt="Daily Truth" style="width:100px; float:left;">
                    <h3><a class="tcolorblue-link" href="#">Salvation Message <br />How Can I Be Saved?</a></h3>
                </div>
            </div>
            <div class="col_one_third col_respon col_last nobottommargin hidden-xs">
                <div class="promo promo-dark promo-flat promo" style="background-color: #e2e2e2;">
                    <h3><a class="tcolorblue-link" href="@Umbraco.Field("largeButtonRightURL")">@Umbraco.Field("largeButtonRightText")</a></h3>
                </div>
            </div>
            <div class="clear"></div>

            <!--<div class="container-fluid clearfix nobottommargin topmargin-sm">
                    <div class="row clearfix common-height">

                        <div class="col_one_third bottommargin-sm" style="background: #e2e2e2;">

                                <div class="nobottommargin nobottomborder center">
                                    <h3>@Umbraco.Field("largeButtonLeftText")</h3>
                                </div>

                        </div>

                       <div class="col_one_third bottommargin-sm" style="border-right: 1px solid #e2e2e2;">
                             <div class="feature-box fbox-small fbox-plain center">
                                <div class="fbox-icon">
                                    <i class="icon-plus"></i>
                                </div>
                                <div class="heading-block nobottommargin nobottomborder">
                                    <h4>Salvation Message</h4>
                                </div>
                            </div>
                        </div>

                      <div class="col_one_third col_last bottommargin-sm" style="border-right: 1px solid #e2e2e2;">

                                <div class="nobottommargin nobottomborder center">
                                    <a href="@Umbraco.Field("largeButtonRightURL")"><h3>@Umbraco.Field("largeButtonRightText")</h3></a>
                                </div>

                        </div>
                    </div>
                </div>-->
            <!-- JHM Shop
            ============================================= -->
            @Umbraco.RenderMacro("jhmShop")
            <div class="clear"></div>
            <!-- Daily Truth
            ============================================= -->
            @Umbraco.RenderMacro("dailytruth")
            <div class="clear"></div>

            <!-- Bio Slider
            ============================================= -->

                    @Umbraco.RenderMacro("sliderHomepagebios")
                    @*<div id="slider-arrow-left-bios"><i class="icon-angle-left"></i></div>
                        <div id="slider-arrow-right-bios"><i class="icon-angle-right"></i></div>*@
                    @*<div class="swiper-pagination"></div>*@

                <script>
                    jQuery(document).ready(function ($) {
                        var swiperSlider2 = new Swiper('#slider2 .swiper-parent', {
                            paginationClickable: false,
                            slidesPerView: 1,
                            grabCursor: true,
                            autoplay: 5000,
                            speed: 150,
                            loop: true,
                            arrows: false,
                            onSwiperCreated: function (swiper) {
                                $('[data-caption-animate]').each(function () {
                                    var $toAnimateElement = $(this);
                                    var toAnimateDelay = $(this).attr('data-caption-delay');
                                    var toAnimateDelayTime = 0;
                                    if (toAnimateDelay) { toAnimateDelayTime = Number(toAnimateDelay) + 650; } else { toAnimateDelayTime = 650; }
                                    if (!$toAnimateElement.hasClass('animated')) {
                                        $toAnimateElement.addClass('not-animated');
                                        var elementAnimation = $toAnimateElement.attr('data-caption-animate');
                                        setTimeout(function () {
                                            $toAnimateElement.removeClass('not-animated').addClass(elementAnimation + ' animated');
                                        }, toAnimateDelayTime);
                                    }
                                });
                                SEMICOLON.slider.swiperSliderMenu();
                            },
                            onSlideChangeStart: function (swiper) {
                                $('#slide-number-current').html(swiper.activeLoopIndex + 1);
                                $('[data-caption-animate]').each(function () {
                                    var $toAnimateElement = $(this);
                                    var elementAnimation = $toAnimateElement.attr('data-caption-animate');
                                    $toAnimateElement.removeClass('animated').removeClass(elementAnimation).addClass('not-animated');
                                });
                                SEMICOLON.slider.swiperSliderMenu();
                            },
                            onSlideChangeEnd: function (swiper) {
                                $('#slider2').find('.swiper-slide').each(function () {
                                    if ($(this).find('video').length > 0) { $(this).find('video').get(0).pause(); }
                                    if ($(this).find('.yt-bg-player').length > 0) { $(this).find('.yt-bg-player').pauseYTP(); }
                                });
                                $('#slider2').find('.swiper-slide:not(".swiper-slide-active")').each(function () {
                                    if ($(this).find('video').length > 0) {
                                        if ($(this).find('video').get(0).currentTime != 0) $(this).find('video').get(0).currentTime = 0;
                                    }
                                    if ($(this).find('.yt-bg-player').length > 0) {
                                        $(this).find('.yt-bg-player').getPlayer().seekTo($(this).find('.yt-bg-player').attr('data-start'));
                                    }
                                });
                                if ($('#slider2').find('.swiper-slide.swiper-slide-active').find('video').length > 0) { $('#slider2').find('.swiper-slide.swiper-slide-active').find('video').get(0).play(); }
                                if ($('#slider2').find('.swiper-slide.swiper-slide-active').find('.yt-bg-player').length > 0) { $('#slider2').find('.swiper-slide.swiper-slide-active').find('.yt-bg-player').playYTP(); }

                                $('#slider2 .swiper-slide.swiper-slide-active [data-caption-animate]').each(function () {
                                    var $toAnimateElement = $(this);
                                    var toAnimateDelay = $(this).attr('data-caption-delay');
                                    var toAnimateDelayTime = 0;
                                    if (toAnimateDelay) { toAnimateDelayTime = Number(toAnimateDelay) + 200; } else { toAnimateDelayTime = 200; }
                                    if (!$toAnimateElement.hasClass('animated')) {
                                        $toAnimateElement.addClass('not-animated');
                                        var elementAnimation = $toAnimateElement.attr('data-caption-animate');
                                        setTimeout(function () {
                                            $toAnimateElement.removeClass('not-animated').addClass(elementAnimation + ' animated');
                                        }, toAnimateDelayTime);
                                    }
                                });
                            }
                        });

                        $('#slider-arrow-left-bios').on('click', function (e) {
                            e.preventDefault();
                            swiperSlider2.swipePrev();
                        });

                        $('#slider-arrow-right-bios').on('click', function (e) {
                            e.preventDefault();
                            swiperSlider2.swipeNext();
                        });

                        $('#slide-number-current-bios').html(swiperSlider2.activeLoopIndex + 1);
                        $('#slide-number-total-bios').html($('#slider2').find('.swiper-slide:not(.swiper-slide-duplicate)').length);

                    });
                </script>

          

            <div class="clear"></div>
            <!-- JHM Events
            ============================================= -->
            <div class="section noborder nomargin nopadding">
                <div data-animate="fadeIn" class="container center clearfix">
                    <div class="heading-block noborder topmargin-sm bottommargin-sm">
                        <h2>JHM Events</h2>
                        <p class="lead">John Hagee Ministries events that are sure to give you insight and faith. </p>
                    </div>
                     @Umbraco.RenderMacro("eventsHome")
                    <!-- #portfolio end -->
                </div>
                <div class="container center clearfix topmargin-sm bottommargin">
                    <a href="/events" class="button button-3d button-large">View All Events</a>
                </div>
            </div>
            <script type="text/javascript">

                jQuery(document).ready(function ($) {

                    var ocPortfolio = $("#oc-portfolio");

                    ocPortfolio.owlCarousel({
                        margin: 10,
                        nav: false,
                        navText: ['<i class="icon-angle-left"></i>', '<i class="icon-angle-right"></i>'],
                        autoplay: false,
                        autoplayHoverPause: false,
                        dots: false,
                        responsive: {
                            0: { items: 1 },
                            325: { items: 1 },
                            479: { items: 2 },
                            768: { items: 3 },
                            1199: { items: 3 },
                        }
                    });

                });

            </script>




            <div class="clear"></div>
            <!-- Prayer Requests
            ============================================= -->
            @Umbraco.RenderMacro("prayerRequestsHome")
            <div class="clear"></div>
            <!-- JHM Connect
            ============================================= -->
            @Umbraco.RenderMacro("jhmConnect")
            <div class="clear"></div>
        </section><!-- #content end -->
        <!-- Footer
        ============================================= -->
        @Umbraco.RenderMacro("footer")
    </div>
    </div>
    <!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>
    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="/js/functions.js"></script>

</body>
</html>