﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "JHMStandardWebpageTemplate.cshtml";
}


@section main_content{
	
	<!-- Page Header
		============================================= -->
        

@{

    var imageCrops = Newtonsoft.Json.JsonConvert.DeserializeObject<Umbraco.Web.Models.ImageCropDataSet>(Umbraco.Field("pageBannerImageLarge").ToString());
    if (imageCrops != null)
    {
        var myImageUrl = imageCrops.Src;

        <div id="slider" class="parallax clearfix dark" style="background-image: url('@myImageUrl'); " data-stellar-background-ratio="0.3">
            <div class="container clearfix bottompadding-xlg">
                <div class="slider-caption slider-caption-center bottommargin">
                    <h3 data-animate="fadeIn">@Umbraco.Field("pageBannerTextFirstLine")</h3>
                    <p data-animate="fadeIn" class="lead">@Umbraco.Field("pageBannerTextSecondLine")</p>
                </div>
            </div>
        </div>
    }

}


		<!-- Page Title
        ============================================= -->
        <section id="page-title" class="page-title-mini">

            <div class="container clearfix">
                <ol class="breadcrumb">
                    <li><a href="/"><i class="icon-home2"></i></a></li>
                    <li><a href="#">About</a></li>
                    <li class="active">Media Inquiries</li>
                </ol>
            </div>

        </section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
        
           <div class="content-wrap noborder topmargin nobottommargin nopadding">

				<div data-animate="fadeIn" class="container bottommargin clearfix">

                    <div><h2 class="tcolorgold jobs">@Umbraco.Field("mediaInquiryPageTitle")</h2></div>

                    <div class="fancy-title title-bottom-border">
                        <h3>@Umbraco.Field("mediaInquiryFirstSectionTitle")</h3>
                    </div>
					@Umbraco.Field("mediaInquiryFirstSectionContent")
						
					<div class="line bottommargin-sm topmargin-xsm"></div>
					
					<!-- Inquiry Form
					============================================= -->
					<div class="nobottommargin">

						<h3 class="title">@Umbraco.Field("mediaInquiryFormTitle") <span><span>*Denotes required fields</span></span></h3>

                        @Html.Partial("MediaInquiryFormViewModel", new Custom.Models.MediaInquiryFormModel())

						<script type="text/javascript">

							$("#template-contactform").validate({
								submitHandler: function(form) {
									$('.form-process').fadeIn();
									$(form).ajaxSubmit({
										target: '#contact-form-result',
										success: function() {
											$('.form-process').fadeOut();
											$(form).find('.sm-form-control').val('');
											$('#contact-form-result').attr('data-notify-msg', $('#contact-form-result').html()).html('');
											SEMICOLON.widget.notifications($('#contact-form-result'));
										}
									});
								}
							});

						</script>

					</div><!-- .inquiry form end -->

					

				</div>

			</div>

            <div class="clear"></div>
    
    </section><!-- #content end -->

				
				
				
}