﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "JHMStandardWebpageTemplate.cshtml";
}
@section main_content{
    <!-- Page Title
    ============================================= -->
    <section id="page-title" class="page-title-mini">
        <div class="container clearfix">
            <ol class="breadcrumb">
                <li><a href="//"><i class="icon-home2"></i></a></li>
                <li><a href="#">Connect</a></li>
                <li class="active">JHM Publications</li>
            </ol>
        </div>
    </section><!-- #page-title end -->
    <!-- Content
    ============================================= -->
    <section id="content" style="background-color:#f7f7f7;">
        <div class="content-wrap noborder notopmargin bottommargin nopadding">

            <div data-animate="fadeIn" class="container clearfix">
                <div class="heading-block noborder topmargin bottommargin-sm center">
                    <h2>Catalogs</h2>
                    @Umbraco.Field("currentCatalogDescription")
                </div>
                <!-- Post Content
                      ============================================= -->

                <div class="team team-list clearfix">
                    <div class="col_one_fourth nobottommargin col_respon">
                        <img src="@Umbraco.Field("currentCatalogImage")" style="width:231px; " alt="JHM Catalog">
                    </div>
                    <div class="col_three_fourth nobottommargin col_respon col_last">
                        <div class="team-desc">
                            <div class="team-title">
                                <h3 class="nobottommargin name">@Umbraco.Field("currentCatalogName")</h3><span>Published @Umbraco.Field("currentCatalogPublishDate", formatAsDate: true)</span>
                            </div>
                        </div>
                        <div class="line-short topmargin-xsm bottommargin-xsm"></div>
                        <div class="team-content">
                            <a href="@Umbraco.Field("currentCatalogUrl")" class="button button-3d" target="_blank">View Catalog</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- #content end -->
    <section id="content">

        <div class="content-wrap noborder notopmargin bottommargin nopadding">

            <div data-animate="fadeIn" class="container clearfix">

                <div class="heading-block noborder topmargin bottommargin-sm center">
                    <h2>Magazines</h2>
                    @Umbraco.Field("magazineSectionText")
                </div>
                <!-- Portfolio Filter
                ============================================= -->
                <ul id="portfolio-filter" class="clearfix">
                    <li class="activeFilter"><a href="#" data-filter="*">Show All Magazines</a></li>

                    @{
                        var page = Umbraco.Content(UmbracoContext.PageId.GetValueOrDefault());
                        var selection = page.AncestorOrSelf(1).Descendants("JhmPublication").Where("Visible");
                    }

                    @foreach (var item in selection)
                    {
                        <li><a href="#" data-filter=".pf-@item.yearPublished">@item.yearPublished</a></li>
                    }


                </ul><!-- #portfolio-filter end -->
                <div id="portfolio-shuffle">
                    <i class="icon-random"></i>
                </div>
                <div class="clear"></div>
                <!-- Magazine Images
                ============================================= -->
                <div id="portfolio" class="clearfix">

                    @foreach (var item in selection)
                    {
                        <article class="portfolio-item pf-2015">
                            <div class="portfolio-image">
                                <a href="@item.publicationUrl" target="_blank">
                                    <img src="@item.publicationImage" alt="January - February 2015">
                                </a>
                                <div class="portfolio-overlay">
                                    <a href="@item.publicationUrl" class="center-icon" target="_blank"><i class="icon-line-link icon-2x"></i></a>
                                </div>
                            </div>
                            <div class="portfolio-desc center bottommargin-sm">
                                <h3 class="tcolorgold">@item.publicationTitle</h3>
                                <span>@item.yearPublished</span>
                            </div>
                        </article>
                    }

                </div><!-- #portfolio end -->
                <!-- Portfolio Script
                ============================================= -->
                <script type="text/javascript">

                    jQuery(window).load(function () {

                        var $container = $('#portfolio');

                        $container.isotope({ transitionDuration: '0.65s' });

                        $('#portfolio-filter a').click(function () {
                            $('#portfolio-filter li').removeClass('activeFilter');
                            $(this).parent('li').addClass('activeFilter');
                            var selector = $(this).attr('data-filter');
                            $container.isotope({ filter: selector });
                            return false;
                        });

                        $('#portfolio-shuffle').click(function () {
                            $container.isotope('updateSortData').isotope({
                                sortBy: 'random'
                            });
                        });

                        $(window).resize(function () {
                            $container.isotope('layout');
                        });

                    });

                </script><!-- Portfolio Script End -->
            </div>
        </div>
        <div class="clear"></div>

    </section><!-- #content end -->
    

}