﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "JHMStandardWebpageTemplate.cshtml";
}
@section main_content{
	
	
<!-- Page Header
       ============================================= -->
       @Umbraco.RenderMacro("pageheaderPrayerrequests")


<!-- Page Title
============================================= -->
<section id="page-title" class="page-title-mini">

    <div class="container clearfix">
        <ol class="breadcrumb">
            <li><a href="/"><i class="icon-home2"></i></a></li>
            <li><a href="#">Encouragement</a></li>
            <li class="active">Prayer Requests</li>
        </ol>
    </div>

</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap noborder topmargin nobottommargin nopadding">

        <div data-animate="fadeIn" class="container bottommargin clearfix">

            <div><h2 class="tcolorgold jobs">Submit Your Prayer Requests</h2></div>

            <p>Your prayer request will be shared with our community, so that they may pray for you.</p>

            <h4 class="heading">You can also call us with your prayer request at (210) 491-5100. </h4>

            <div class="line bottommargin-sm topmargin-xsm"></div>

            <!-- Inquiry Form
            ============================================= -->
            <div class="nobottommargin">

                <h3 class="title">Prayer Details <span><span>*Denotes required fields</span></span></h3>

                @Html.Partial("PrayerRequestFormViewModel", new Custom.Models.PrayerRequestFormModel())
                
                <script type="text/javascript">

							$("#template-contactform").validate({
								submitHandler: function(form) {
									$('.form-process').fadeIn();
									$(form).ajaxSubmit({
										target: '#contact-form-result',
										success: function() {
											$('.form-process').fadeOut();
											$(form).find('.sm-form-control').val('');
											$('#contact-form-result').attr('data-notify-msg', $('#contact-form-result').html()).html('');
											SEMICOLON.widget.notifications($('#contact-form-result'));
										}
									});
								}
							});

                </script>

            </div><!-- .inquiry form end -->



        </div>

    </div>

    <div class="clear"></div>

</section><!-- #content end -->
				

				}