﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "JHMStandardWebpageTemplate.cshtml";
}

@section main_content{
	
	<!-- Page Header
		============================================= -->
        @Umbraco.RenderMacro("pageheaderPartner")
       

		<!-- Page Title
        ============================================= -->
        <section id="page-title" class="page-title-mini">

            <div class="container clearfix">
                <ol class="breadcrumb">
                    <li><a href="/"><i class="icon-home2"></i></a></li>
                    <li class="active">Partner</li>
                </ol>
            </div>

        </section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
        
            <div class="section noborder notopmargin nobottommargin" style="background-color:#e2e2e2;">
	 
                <div data-animate="fadeIn" class="container clearfix">

					<div class="heading-block noborder center">
                        <h2>Partnership</h2>
                        <p>Through our partnership programs you can become a partner with JHM</p>
                    </div>
                  
				<!-- Post Content
                ============================================= -->
       		
                    <div class="team team-list border-full topbottompadding pad15 clearfix">
                        <div class="team-image">
                            <img src="/images/partnership-img1.jpg" alt="Salt Covenant Partnership">
                        </div>
                        <div class="team-desc">
                            <div class="col_two_third nobottommargin col_respon">
                                <div class="team-title"><h3 class="nobottommargin name">Salt Covenant Partnership <span>Monthly Donation</span></div>
                            </div>
                            

                            <div class="line-short topmargin-xsm bottommargin-xsm"></div>
                            <div class="team-content">
                                <p>"Season all your grain offerings with salt. Do not leave the salt of the covenant of your God out of your grain offerings; add salt to all your offerings...</p>
                                <a href="/salt-covenant-partnership" class="button button-3d bottommargin-sm">Learn More</a>
                               
                            </div>
                        </div>
                    </div>
				
				</div>

    </section><!-- #content end -->
									
}