﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<!-- Head
    ============================================= -->
<head>
    <!-- External code
        ============================================= -->
    @Umbraco.RenderMacro("externalCode")
    <link rel="stylesheet" href="/css/responsive-tabs.css">
    <!-- Document Title
    ============================================= -->
    <title>John Hagee Ministries</title>
</head>
<body class="stretched side-panel">
    <div class="body-overlay"></div>
    <!-- Side Menu
       ============================================= -->
    @Umbraco.RenderMacro("sideMenu")
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">
        <!-- Top Bar
                ============================================= -->
        <div id="top-bar" class="hidden-xs">
            <div class="container-fluid clearfix">

                <div class="col_half nomargin fright">
                    <!-- Top Links
                    ============================================= -->
                    @Umbraco.RenderMacro("topLinks")
                </div>
                <!-- <div class="col_half fright col_last nobottommargin">

                    <!-- Top Social
                    =============================================
                    <div id="top-social">
                        <ul>
                            <li><a href="#" class="si-play"><span class="ts-icon"><i class="icon-play"></i></span><span class="ts-text">GETV</span></a></li>
                            <li><a href="#" class="si-sun"><span class="ts-icon"><i class="icon-sun"></i></span><span class="ts-text">Cornerstone Church</span></a></li>
                            <li><a href="#" class="si-facetime-video"><span class="ts-icon"><i class="icon-facetime-video"></i></span><span class="ts-text">Difference Media</span></a></li>
                            <li><a href="#" class="si-pencil2"><span class="ts-icon"><i class="icon-pencil2"></i></span><span class="ts-text">Cornerstone School</span></a></li>
                            <li><a href="#" class="si-facebook"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>
                            <li><a href="#" class="si-twitter2"><span class="ts-icon"><i class="icon-twitter2"></i></span><span class="ts-text">Twitter</span></a></li>
                            <li><a href="#" class="si-youtube"><span class="ts-icon"><i class="icon-youtube"></i></span><span class="ts-text">Youtube</span></a></li>
                            <li><a href="#" class="si-instagram"><span class="ts-icon"><i class="icon-instagram2"></i></span><span class="ts-text">Instagram</span></a></li>
                            <li><a href="#" class="si-pinterest"><span class="ts-icon"><i class="icon-pinterest2"></i></span><span class="ts-text">Pinterest</span></a></li>
                            <li><a href="#" class="si-gplus"><span class="ts-icon"><i class="icon-gplus"></i></span><span class="ts-text">Google Plus</span></a></li>
                            <li><a href="tel:1-800-854-9899" class="si-call"><span class="ts-icon"><i class="icon-call"></i></span><span class="ts-text"> 1-800-854-9899</span></a></li>
                            <li><a href="mailto:support@jhm.org" class="si-email3"><span class="ts-icon"><i class="icon-email3"></i></span><span class="ts-text">support@jhm.org</span></a></li>
                        </ul>
                    </div><!-- #top-social end

                </div> -->
            </div>
        </div> <!-- #top-bar end -->
        <!-- Header
        ============================================= -->
        @Umbraco.RenderMacro("header")

      
            @RenderSection("main_content")

            <div class="clear"></div>

            <!-- Footer
            ============================================= -->
            @Umbraco.RenderMacro("footer")
    </div>
    </div>
    <!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>
    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="/js/functions.js"></script>

</body>
</html>
					