﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "JHMStandardWebpageTemplate.cshtml";
}

@section main_content{
	
	<!-- Page Header
		============================================= -->
        @Umbraco.RenderMacro("pageheaderSocialmedia")

		<!-- Page Title
        ============================================= -->
        <section id="page-title" class="page-title-mini">

            <div class="container clearfix">
                <ol class="breadcrumb">
                    <li><a href="/"><i class="icon-home2"></i></a></li>
                    <li><a href="#">Connect</a></li>
                    <li class="active">Social Media</li>
                </ol>
            </div>

        </section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
        
           <div class="section content-wrap noborder topmargin nobottommargin nopadding">
	 
                <div class="container clearfix">

				<script src="//assets.juicer.io/embed-no-jquery.js" type="text/javascript"></script>
                <link href="//assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
                <ul class="juicer-feed" data-feed-id="john-hagee-ministries"></ul>
					
				</div>
			</div>

            <div class="clear"></div>
    
    </section><!-- #content end -->
				
}