﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "JHMStandardWebpageTemplate.cshtml";
}

@section main_content{
		
       <!-- Page Header
		============================================= -->
      <div id="slider" class="parallax clearfix dark" style="background-image: url('/images/whoweare-background2.jpg'); " data-stellar-background-ratio="0.3">
    <div class="container clearfix bottompadding-xlg">
        <div class="slider-caption slider-caption-center bottommargin">
            <h3 data-animate="fadeIn">@Umbraco.Field("largeBannerTitle")</h3>
            <p data-animate="fadeIn" class="lead">
                @Umbraco.Field("secondLineOfTextInBanner")
            </p>
        </div>
    </div>
</div>



<!-- Page Title
============================================= -->
<section id="page-title" class="page-title-mini">

    <div class="container clearfix">
        <ol class="breadcrumb">
            <li><a href="/"><i class="icon-home2"></i></a></li>
            <li><a href="#">About</a></li>
            <li class="active">Who We Are</li>
        </ol>
    </div>

</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">

    <div class="section noborder notopmargin nobottommargin nobottompadding">

        <div data-animate="fadeIn" class="container clearfix">
            <!-- Post Content
                      ============================================= -->


@{
    var page = Umbraco.Content(1094);
    var selection = page.AncestorOrSelf(1).Descendants("Biography").Where("Visible"); }

@foreach (var item in selection)
{

            <div class="team team-list clearfix">
                <div class="team-image">
                    <img src="@Umbraco.Media(item.biographyImage).Url" alt="John Hagee">
                </div>
                <div class="team-desc">
                    <div class="col_half nobottommargin col_respon">
                        <div class="team-title"><h3 class="nobottommargin name">@item.name</h3><span>@item.title</span></div>
                    </div>

                    <div class="col_half fright col_last nobottommargin col_respon">
                        <div class="si-share notopmargin">
                            <div>
                                <span class="tcolorgold">Connect:</span>
                                <a href="https://www.facebook.com/JohnHageeMinistries" target="_blank" class="social-icon si-small si-borderless si-facebook" data-toggle="tooltip" data-placement="top" title="John Hagee Facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="https://twitter.com/search?q=%40PastorJohnHagee&src=typd" target="_blank" class="social-icon si-small si-borderless si-twitter" data-toggle="tooltip" data-placement="top" title="John Hagee Twitter">
                                    <i class="icon-twitter"></i>
                                    <i class="icon-twitter"></i>
                                </a>
                                <a href="https://www.pinterest.com/hageeministries/" target="_blank" class="social-icon si-small si-borderless si-pinterest" data-toggle="tooltip" data-placement="top" title="John Hagee Pinterest">
                                    <i class="icon-pinterest"></i>
                                    <i class="icon-pinterest"></i>
                                </a>
                                <a href="https://www.youtube.com/user/HageeMinistries" target="_blank" class="social-icon si-small si-borderless si-youtube" data-toggle="tooltip" data-placement="top" title="John Hagee YouTube">
                                    <i class="icon-youtube-play"></i>
                                    <i class="icon-youtube-play"></i>
                                </a>
                                <a href="https://instagram.com/HageeMinistries/" target="_blank" class="social-icon si-small si-borderless si-instagram" data-toggle="tooltip" data-placement="top" title="John Hagee Instagram">
                                    <i class="icon-instagram"></i>
                                    <i class="icon-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="line-short topmargin-xsm bottommargin-xsm"></div>
                    <div class="team-content">
                       @item.shortBio
                     </div>

                    <div class="toggle toggle-bg topmargin-sm">
                        <div class="togglet tcolorgold"><i class="toggle-closed icon-ok-circle"></i><i class="toggle-open icon-remove-circle"></i>Read More</div>
                        <div class="togglec">
                            @item.biography
                        </div>
                    </div>
                </div>
            </div>
            <div class="line topmargin-xsm bottommargin-sm"></div>

            }



        <!-- JHM Mission
        ============================================= -->
        @Umbraco.RenderMacro("jhmMissionWhoweare")

        <div class="clear"></div>

        <div data-animate="fadeIn" class="container clearfix">
            <div class="heading-block noborder topmargin bottommargin-sm">
                <h2 class="center">Our Beliefs</h2>
            </div>
            <div class="col_one_fourth bottommargin-sm col_respon">
                <div class="feature-box fbox-center fbox-plain noborder">
                    <div class="fbox-icon">
                        <img src="/images/whoweare-icon1.png" alt="The Lord Jesus Christ">
                    </div>
                    <h3 class="tcolorgold">The Lord Jesus Christ</h3>
                    <p>We believe in the deity of Jesus Christ as the only begotten Son of God.  We believe in His substitutionary death for all men, His resurrection, and His eventual return to judge the world.</p>
                </div>
                <div class="line-mini"></div>
            </div>
            <div class="col_one_fourth bottommargin-sm col_respon">
                <div class="feature-box fbox-center fbox-plain noborder">
                    <div class="fbox-icon">
                        <img src="/images/whoweare-icon2.png" alt="The Lord Jesus Christ">
                    </div>
                    <h3 class="tcolorgold">Salvation</h3>
                    <p> We believe all men are born with a sinful nature and that the work of the Cross was to redeem man from the power of sin.  We believe that this salvation is available to all who will receive it.</p>
                </div>
                <div class="line-mini"></div>
            </div>
            <div class="col_one_fourth bottommargin-sm col_respon">
                <div class="feature-box fbox-center fbox-plain noborder">
                    <div class="fbox-icon">
                        <img src="/images/whoweare-icon3.png" alt="The Lord Jesus Christ">
                    </div>
                    <h3 class="tcolorgold">The Holy Spirit</h3>
                    <p>We believe in the existence of the Holy Spirit as the third person of the Trinity and in His interaction with man.  We believe in the baptism of the Holy Spirit as manifested by the fruit and the gifts of the Spirit.</p>
                </div>
                <div class="line-mini"></div>
            </div>
            <div class="col_one_fourth col_last bottommargin-sm col_respon">
                <div class="feature-box fbox-center fbox-plain noborder">
                    <div class="fbox-icon">
                        <img src="/images/whoweare-icon4.png" alt="The Lord Jesus Christ">
                    </div>
                    <h3 class="tcolorgold">The Sacred Scripture</h3>
                    <p>We believe in the scripture as the inspired Word of God and that it is the complete revelation of God's will for mankind.  We believe in the absolute authority of the scripture to govern the affairs of men.</p>
                </div>
                <div class="line-mini"></div>
            </div>
        </div>

        <div class="clear"></div>

        <div class="container clearfix">
            <div class="col_one_fourth bottommargin-sm col_respon">
                <div class="feature-box fbox-center fbox-plain noborder">
                    <div class="fbox-icon">
                        <img src="/images/whoweare-icon5.png" alt="Stewardship">
                    </div>
                    <h3 class="tcolorgold">Stewardship</h3>
                    <p>We believe that every man is the steward of his life and resources which ultimately belong to God.  We believe that tithing is a measure of obedience to the scriptural principles of stewardship.</p>
                </div>
                <div class="line-mini"></div>
            </div>
            <div class="col_one_fourth bottommargin-sm col_respon">
                <div class="feature-box fbox-center fbox-plain noborder">
                    <div class="fbox-icon">
                        <img src="/images/whoweare-icon6.png" alt="The Church">
                    </div>
                    <h3 class="tcolorgold">The Church</h3>
                    <p>We believe in the Church as the eternal and universal Body of Christ consisting of all those who have accepted the work of the atonement. We believe in the need for a local assembly of believers for the purpose of evangelism and edification.</p>
                </div>
                <div class="line-mini"></div>
            </div>
            <div class="col_one_fourth bottommargin-sm col_respon">
                <div class="feature-box fbox-center fbox-plain noborder">
                    <div class="fbox-icon">
                        <img src="/images/whoweare-icon7.png" alt="Prayer and Praise">
                    </div>
                    <h3 class="tcolorgold">Prayer and Praise</h3>
                    <p>We believe in the worship of the Lord through singing, clapping, and the lifting of hands. We believe in the authority of the believer to ask freely of the Lord for his needs.</p>
                </div>
                <div class="line-mini"></div>
            </div>
            <div class="col_one_fourth col_last bottommargin-sm col_respon">
                <div class="feature-box fbox-center fbox-plain noborder">
                    <div class="fbox-icon">
                        <img src="/images/whoweare-icon8.png" alt="Body Ministry">
                    </div>
                    <h3 class="tcolorgold">Body Ministry</h3>
                    <p>We believe in the ministry of the Holy Spirit to the Church body through the anointing of oil by the elders of the church.</p>
                </div>
                <div class="line-mini"></div>
            </div>
        </div>

        <div class="clear"></div>

        <div class="container clearfix">
            <div class="col_one_fourth bottommargin-sm col_respon">
                <div class="feature-box fbox-center fbox-plain noborder">
                    <div class="fbox-icon">
                        <img src="/images/whoweare-icon9.png" alt="Evangelism">
                    </div>
                    <h3 class="tcolorgold">Evangelism</h3>
                    <p>We believe that evangelism is the obligation of every follower of Jesus Christ. The Lord commands us to go out and make disciples of all the earth. We believe that each person is first responsible to evangelism in their own family as the Holy Spirit leads them and gives them the ability.</p>
                </div>
                <div class="line-mini"></div>
            </div>
            <div class="col_one_fourth bottommargin-sm col_respon">
                <div class="feature-box fbox-center fbox-plain noborder">
                    <div class="fbox-icon">
                        <img src="/images/whoweare-icon10.png" alt="Water Baptism">
                    </div>
                    <h3 class="tcolorgold">Water Baptism</h3>
                    <p>We believe in the ordinance of water baptism by immersion in obedience to the Word of God. All those who have accepted Jesus Christ as their personal savior should be baptized in water as a public profession of their faith in Christ and to experience what the Bible calls the "circumcision of the Spirit."</p>
                </div>
                <div class="line-mini"></div>
            </div>
            <div class="col_one_fourth bottommargin-sm col_respon">
                <div class="feature-box fbox-center fbox-plain noborder">
                    <div class="fbox-icon">
                        <img src="/images/whoweare-icon11.png" alt="Commitment to Israel">
                    </div>
                    <h3 class="tcolorgold">Commitment to Israel</h3>
                    <p>We believe in the promise of Genesis 12:3 regarding the Jewish people and the nation of Israel. We believe that this is an eternal covenant between God and the seed of Abraham to which God is faithful.</p>
                </div>
                <div class="line-mini"></div>
            </div>
            <div class="col_one_fourth col_last bottommargin-sm col_respon">
                <div class="feature-box fbox-center fbox-plain noborder">
                    <div class="fbox-icon">
                        <img src="/images/whoweare-icon12.png" alt="Priesthood of the Believer">
                    </div>
                    <h3 class="tcolorgold">Priesthood of the Believer</h3>
                    <p>We believe that every believer has a unique relationship to the Lord. As His children, every Christian has immediate access to the throne of Grace and the ability to manifest the power of the Lord Jesus Christ in ministry.</p>
                </div>
                <div class="line-mini"></div>
            </div>
        </div>



        <div class="clear"></div>

        <!-- JHM Connect
        ============================================= -->
        @Umbraco.RenderMacro("jhmConnect")


    </div>

    <div class="clear"></div>

</section><!-- #content end -->


}